<div id="subhead">
    <div class="animate-show">
        <div class="search-container col-md-6">
            <div class="search col-md-4">
                <input type="search" name="search" ng-model="item" placeholder="Search in boards" />
                <a><img class="svg" src="/images/search.svg"></a>
            </div>
        </div>
        <div class="search-container col-md-6">
            <!-- Container for tags // not being implemented currently.
            <div ng-repeat="item in items" class="tag"><span>{{ item.tag }}</span><a ng-click="" href="#"><img class="svg" src="/images/btnClose.svg"></a></div>-->
            <div class="pull-right">
                <button class="lf-btn-medium lf-green pull-right" href="#"><span>Create board</span><span><img class="svg" src="/images/pin.svg"></span></button>
            </div>
        </div>
    </div>
    <!-- button for link creation -->
    <!--<button style="float:right;"class="lf-btn-medium lf-primary" href="#"><span>Create link</span><span><img class="svg" src="/images/link.svg"></span></button> -->
</div>