<div id="subhead">
    <div class="animate-show">
        <div class="search-container">
            <div class="search">
                <input type="search" name="search" ng-model="item" placeholder="Search in boards" />
                <a><img class="svg" src="/images/search.svg"></a>
            </div>
            <div class="sort">
                <span class="first">Show</span>
                <span>All Links</span>
                <span>Tracks</span>
                <span>Artist</span>
                <span>Playlist</span>
                <span>Mixes</span>
                <span>Video</span>
            </div>
        </div>
        <div class="search-container">
            <div class="latest">
                <span>Latest</span>
                <span class="img-container">
                    <img class="svg" src="/images/search.svg">
                </span>
            </div>
            <!-- Container for tags // not being implemented currently.
            <div ng-repeat="item in items" class="tag"><span>{{ item.tag }}</span><a ng-click="" href="#"><img class="svg" src="/images/btnClose.svg"></a></div>-->
            <div class=" pull-right">
                <button class="lf-btn-medium lf-primary pull-right" href="#"><span>Create Link</span><span><img class="svg" src="/images/link.svg"></span></button>
            </div>
        </div>
    </div>
    <!-- button for link creation -->
    <!--<button style="float:right;"class="lf-btn-medium lf-primary" href="#"><span>Create link</span><span><img class="svg" src="/images/link.svg"></span></button> -->
</div>