<div class="landing">
    <div class="jumbotron">
        <div class="landing-inner">
          <h1>Link SMARTER. CONVERT BETTER.</h1>
          <p class="lead">Create smart links that increases clicks, conversion and relevance.</p>
          <p><a class="btn btn-lg btn-primary" ng-href="#">Get started</a></p>
            <span>Or watch our<a ng-click="open()"> explainer video</a></span>
        </div>
    </div>
    <div class="footer landingfooter">
      <span class="center-block text-center">Linkfire is usage based. No downloads or credit cards needed.</span>
    </div>
    <div class="testimonials">
        <div class="jumbotron">
          <h1>Testimonials</h1>
        </div>
    </div>

    <!--video modal-->
    <script type="text/ng-template" id="videomodal.html">
        <div class="modal-header">
            <h3 class="modal-title">video modal</h3>
        </div>
        <div class="modal-body">
            <div class="center-block">
                <iframe src="//player.vimeo.com/video/73844531?byline=0&amp;portrait=0" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>            </div>
        </div>
    </script>
    <!--End of video modal-->

</div>