<div ng-include="'html/boards/header.html'"></div>
<div class="container" id="faq" ng-init="faqTab= 1">
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3">
            <p ng-click="faqTab = 1" >1. General knowledgebase</p>
            <p ng-click="faqTab = 2" >2. Linkfeed</p>
        </div>
        <div class="col-md-3">
            <p ng-click="faqTab = 3" >3. Creating Links</p>
            <p ng-click="faqTab = 4" >4. Linkfire Insights</p>
        </div>
        <div class="col-md-3">
            <p ng-click="faqTab = 5" >5. Working in teams</p>
            <p ng-click="faqTab = 6" >6. Adding domains</p>
        </div>
        <div class="col-md-3">
            <p ng-click="faqTab = 7" >7. Payments</p>
            <p ng-click="faqTab = 8" >8. Deeplinking </p>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <h1>Question & answers</h1>
        <p class="about-text">Bacon ipsum dolor sit amet id filet mignon exercitation fatback, laborum short ribs irure boudin ullamco spare ribs esse chicken leberkas jowl. Landjaeger fatback ham hock swine dolor, beef ribs in ground round eiusmod pastrami ut irure. In incididunt ham in, beef ribs porchetta ribeye filet mignon. Sausage flank laborum, tenderloin spare ribs dolore kielbasa. Meatloaf ullamco ham, deserunt kielbasa shoulder aliqua non est ut drumstick.</p>
    </div>
    <div ng-if="faqTab == 1">
        <div class="col-md-10 col-md-offset-1 col-sm-6 col-xs-6" >
            <div ng-include="'html/static/faq/1_general_knowledgebase.html'"></div>
        </div>
    </div>
    <div ng-if="faqTab == 3">
        <div class="col-md-10 col-md-offset-1 col-sm-6  col-xs-6" >
            <div ng-include="'html/static/faq/2_linkfeed.html'"></div>
        </div>
    </div>
    <div ng-if="faqTab == 4">
        <div class="col-md-10 col-md-offset-1 col-sm-6  col-xs-6" >
            <div ng-include="'html/static/faq/3_creating_links.html'"></div>
        </div>
    </div>
    <div ng-if="faqTab == 4">
        <div class="col-md-10 col-md-offset-1 col-sm-6  col-xs-6" >
            <div ng-include="'html/static/faq/4_linkfire_insights.html'"></div>
        </div>
    </div>
    <div ng-if="faqTab == 5">
        <div class="col-md-10 col-md-offset-1 col-sm-6  col-xs-6" >
            <div ng-include="'html/static/faq/4_working_in_teams.html'"></div>
        </div>
    </div>
    <div ng-if="faqTab == 6">
        <div class="col-md-10 col-md-offset-1 col-sm-6  col-xs-6" >
            <div ng-include="'html/static/faq/5_adding_domains.html'"></div>
        </div>
    </div>
    <div ng-if="faqTab == 7">
        <div class="col-md-10 col-md-offset-1 col-sm-6  col-xs-6" >
            <div ng-include="'html/static/faq/6_payments.html'"></div>
        </div>
    </div>
    <div ng-if="faqTab == 8">
        <div class="col-md-10 col-md-offset-1 col-sm-6  col-xs-6" >
            <div ng-include="'html/static/faq/7_deeplinking.html'"></div>
        </div>
    </div>
</div>
<div ng-include="'html/footer.html'"></div>