<div ng-include="'html/boards/header.html'"></div>
<div class="container" id="faq">
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3">
            <p ng-click="faqTab = 1" >1. General knowledgebase</p>
            <p ng-click="faqTab = 2" >2. Linkfeed</p>
        </div>
        <div class="col-md-3">
            <p ng-click="faqTab = 3" >3. Creating Links</p>
            <p ng-click="faqTab = 4" >4. Linkfire Insights</p>
        </div>
        <div class="col-md-3">
            <p ng-click="faqTab = 5" >5. Working in teams</p>
            <p ng-click="faqTab = 6" >6. Adding domains</p>
        </div>
        <div class="col-md-3">
            <p ng-click="faqTab = 7" >7. Payments</p>
            <p ng-click="faqTab = 8" >8. Deeplinking </p>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <h1>Question & answers</h1>
        <p class="about-text">Bacon ipsum dolor sit amet id filet mignon exercitation fatback, laborum short ribs irure boudin ullamco spare ribs esse chicken leberkas jowl. Landjaeger fatback ham hock swine dolor, beef ribs in ground round eiusmod pastrami ut irure. In incididunt ham in, beef ribs porchetta ribeye filet mignon. Sausage flank laborum, tenderloin spare ribs dolore kielbasa. Meatloaf ullamco ham, deserunt kielbasa shoulder aliqua non est ut drumstick.</p>
    </div>
    <div class="team col-md-10 col-md-offset-1 col-sm-6  col-xs-6 ">
        <h1>General knowledgebase</h1>
        <div class="row">
            <h3>
                What is linkfire
            </h3>
            <p>
                Linkfire is a next-generation URL shortener, giving you the power to completely customise your links. You can keep your brand identity by adding your own domains. You can set different destinations for different users based on their location, device type and time period.
                And there's no need to wave goodbye once your link is flying across the web - you can edit and adapt your link at any time, without having to change your original URL. Linkfire is a free tool. However if you want more power, more options and more awesomeness, we have created some paid plans. All of them with a free trial of course.
            </p>
            <h3>
                How do I sign up for an account?
            </h3>
            <p>
                You can sign up at http://linkfire.com. It is free to sign up for a Linkfire account but we also have tailor made Plans & Pricing to cover your needs. You can sign up using a valid email address, Facebook account, Twitter account or Google + account.
            </p>
            <h3>
                How to select a profile picture?
            </h3>
            <p>
                Go to the profile menu in the top bar in the right corner. Click on 'Account settings'. Here you can change the profile picture associated with your account. Drag and drop an image into the designated area, or simply click it to upload a picture. If you have a profile picture on your connected social account, we will automatically fetch and add this to your Linkfire account.You can sign up at http://linkfire.com. It is free to sign up for a Linkfire account but we also have tailor made Plans & Pricing to cover your needs. You can sign up using a valid email address, Facebook account, Twitter account or Google + account.
            </p>
            <h3>
                Can i change my username?
            </h3>
            <p>
                Go to your profile menu in the top bar in the right side. Click on your Account settings. Go to 'Change username' and edit your name. Remember to click 'Update' when you're done.
            </p>
        </div>
    </div>
</div>
<div ng-include="'html/footer.html'"></div>