.btn {
  height: 50px;
  border: 0;
  border-radius: 3px;
  color: $font-color;
  padding: 10px 16px;

  &.btn-primary{
    background-color: $primary-color;
  }


  &.btn-primary:hover {
    background-color: $hover-color;
  }

  &.btn-no-border{
    border-radius: 0px;
  }

  &.btn-standard{
    height: $button-height;
  }
}

.btn:active {

}

button.close{

  color: white;
  opacity: 1;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  float: right;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;

    &:focus{
      outline: 0;
  }
}

.input-group-addon{
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #e5e5e5;
  border: 0px solid #ccc;
  border-radius: 0px;
}

//input fields
input[type="email"], input[type="password"]{
  display: block;
  width: 100%;
  border: 0px solid black;
  color: $font-color;
  background-color: #e5e5e5;
  padding: 15px 5px;
}

a.btn{
  margin: 10px 0px;
  padding: 12px 44px;
}

.btn-social{
  border-radius: 0px;
}

.btn-social :first-child{
  line-height: 46px;
}