.btn {
  margin: 10px 0px;
  height: 50px;
  border: 0;
  border-radius: 3px;
  color: $font-color;
  padding: 14px 44px;

  &.btn-primary{
    background-color: $primary-color;
  }

  &.btn-primary:hover {
    background-color: $hover-color;
  }

  &.btn-green{
    background-color: $green-button;
  }

  &.btn-no-border{
    border-radius: 0px;
  }

  &.btn-standard{
    height: $button-height;
  }

  &.btn-facebook{
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
  }

  &.btn-facebook:hover{
    color: #fff;
    background-color: #30487b;
    border-color: rgba(0,0,0,0.2);
  }

  &.btn-social{
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.btn:active {

}

button.close{
  color: #999999;
  position: absolute;
  opacity: 1;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  font-size: 30px;
  line-height: 1;
  right: 10px;
  top: 5px;
    &:focus{
      outline: 0;
  }
}

.input-group-addon{
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #e5e5e5;
  border: 0px solid #ccc;
  border-radius: 0px;
}

//input fields
input[type="email"], input[type="password"]{
  border-radius: 5px;
  display: block;
  width: 100%;
  border: 1px solid #dbdbdb;
  color: $font-color-grey;
  background-color: #ffffff;
  padding: 15px 5px;
  margin-bottom: 15px;
}

a.btn{

}

.btn-social{
  border-radius: 0px;
}

//Vertical align f in Facebook
.btn-social :first-child{
  line-height: 50px;
}