$primary-color: #e8371b;
$dark-color : #292f38;

//buttons
$hover-color : #fc3429;

//font color
$deep-blue: #405a72;
$light-grey: #d9d9da;
$font-color : #f5f5f5;
$font-color-dark : #939596;

//new design. clean up above
$testimonial-grey : #999999;

//backgrounds
$dark-grey: #acacad;
$light-grey : #dddfe1;


$button-height : 42px;

//Other colors
$green: #10C499;
$lf-green: #3cbda3;