footer{
  background-color: $deep-blue;
  color: #ffffff;
  .row {
    padding: 20px 0px;
    h4{
      font-size: 18px;
    }

    span, a{
      color: #587995;
      @include transition(all, 0.5s, ease);
      display: block;
      font-weight:300;
    }

    a:hover{
      color: #587995;
      text-decoration: underline;
      @include transition(all, 0.5s, ease);
    }

    img{
      margin-top: 20px;
      display: block;
      margin: 15px auto;
    }
  }
}