//header
.header{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  z-index: 50;
  padding-left: 15px;
  padding-right: 15px;
  transition: background-color 0.2s linear;

  &.add-bg{
    background-color: $dark-color;
    transition: background-color 0.2s linear;
  }

  .logo{
    content: " ";
    height: 40px;
    width: 20%;
    display: inline-block;
    vertical-align: middle;
    @include background(image-url("linkfire_logo_w_text.svg"));
    @include background-size(contain);
    background-repeat: no-repeat;
    background-position: center;
  }

  h3{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  .nav-pills{
    > li{
      > a{
        background-color: transparent;
        color: $font-color-dark;
        border-radius: 0px;
      }

      > a:hover{
        color: $font-color;

      }

      > a.active{
        color: #fff;
        background-color: transparent;
        border-bottom: 2px solid $primary-color;
      }
    }
  }
}


