.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bold{
  font-weight: 600;
}

.no-bg{
  background-color: transparent !important;
}

//input fields
input.has-error{
  transition: all 0.5s ease;
  color: $error;
  border: 1px solid $error;
}

input.valid{
  transition: all 0.5s ease;
  color: $success;
  border: 1px solid $success;
}