#insights{
  //@include background(image-url("bg-insights.jpg"));
  @extend .bg-prefs;
  
  padding-top:5%;
  padding-bottom:5%;


  .bg img{
    position:relative;
    top:60%;
    right:-300px;
    -ms-transform: scale(2,2); /* IE 9 */
    -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
    transform: scale(2,2);

  }

  .row{
  	position: relative;
   h4{
     margin-top: 0px;
   }
  }
}

