
body  {
  background-color:#f3f3f3;
}

.tag {
  float:left;
  height: 40px;
  margin: 12px;
  padding:9px;
  background-color:$black;
}

// main content containers //


#head {
  background-color: $header-bg;
  height:50px;
}
#subhead{
  padding:12px 12px 0px 12px;
  height:76px;
}
#boards{
  padding:0 12px 12px 12px;
  height:auto;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

div#page_loader {
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background-color: #292f38;
  z-index: 99;
}



div #head {
  a svg {
    float: left;
    display:block;
    padding:5px;
    width:120px;
    height:50px;
  }
  nav{
    position: relative;
    z-index: 10;
    float:right;
    height:50px;
    ul {
      text-align: left;
      display: inline;
      margin: 0;
      padding: 15px 4px 17px 0;
      list-style: none;
      
    }
    ul li {
      display: inline-block;
      margin-right: -4px;
      position: relative;
      padding: 15px 20px;
      cursor: pointer;
      a{
        color:$grey-light;
        font-weight:100;
      }
    }
    ul li:hover {
      background: $blue-darkest;
      a{
        color:$grey-lightest;
        font-weight:100;
      }
    }
    ul li ul {
      background: $blue-darker;
      padding: 0;
      position: absolute;
      top: 50px;
      left: 0;
      width: 128px;
      opacity: 0;
      visibility: hidden;
    }
    ul li ul li { 
      height: 26px;
      line-height: 20px;
      display: block;
      padding:1px 20px;
      font-size:12px;
    }
    ul li ul li:hover {
      a{
        color:$grey-lightest;
        font-weight:100;
      }
      margin-right: 4px;
    }
    ul li:hover ul {
      display: block;
      opacity: 1;
      visibility: visible;
    }
  }
  .profile {
    .profile-img {
      img {
        display:block;
        height:50px;
        float:right;
        margin-right:-15px;
      }
    }
  }
}



.loadlogo {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-top: -50px;
  a svg {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
  }
}
// search field styles //


.search{
  width:100%;
  background-color:#fff;
  height:40px;
}
.search input{
  color:$std-search;
  width:100%;
  width: 100%; /* fallback if needed */
  width: calc(100% - 40px);
  height:40px;
  border:0;
  float:left;
  padding:0 15px 0 15px;
  font-weight: 300;
}

.search input, select, textarea{
    color: #c6c6c6;
}

.search textarea:focus, input:focus {
    color: #c6c6c6;
}


.search a{
  position:relative;
  width: 40px;
  height: 40px;
  border: 0;
  float:right;
  background-color:#fff;
}
.search a svg{
  position:relative;
  width: 40px;
  height: 18px;
  top: 11px;
  border-left:1px #e9e9e9 solid;
}
.search a svg path{
  fill:$std-search;
}

// search field placeholder text styling //

::-webkit-input-placeholder {
 color: #cfcfcf;
}
:-moz-placeholder { /* older Firefox*/
 color: #cfcfcf;
}
::-moz-placeholder { /* Firefox 19+ */ 
 color: #cfcfcf;
} 
:-ms-input-placeholder { 
 color: #cfcfcf;
}

#hlp .cont{
  border: dashed 1px #e1e1e1;
}

.cont{
  width:100%;
  height: 320px;
  background-color: $board-bg;
}



// small close button on create-board //



#create .close-btn{
  width:100%;
  height:28px;
  padding:9px;
}
#create .close-btn a svg{
  width:10px;
  height:10px;
  float:right;
}
#create .close-btn a svg polygon{
  fill:#ededed;
}
#create .close-btn svg:hover polygon{
  fill:#ccc;
}


#create .manage svg{
  width: 65px;
  display: block;
  margin:0 auto 25px auto;
}
#create .manage svg path{
  fill: $std-createBrd;
}
#create .manage{
  padding:15px;
}
#create .manage p.headline  {
  text-align:center;
  max-height:22px;
  font-size:16px;
  font-weight:bold;
  color:#c6c6c6;
}
#create .manage p.text{
  text-align:center;
  max-height:40px;
  font-weight:300;
  font-size:14px;
  color:#c6c6c6;
}

#create-button{
  display:block;
  position:relative;
  padding-left:12px;
  background-color: $btn-createBrd;
  width:146px;
  height:40px;
  margin:30px auto 0 auto;
  border-radius:3px;
}
#create-button:hover{
  background-color: $btn-createBrdHover;
}
#create-button span:first-child{
  float:left;
  color:#fff;
  padding-right:10px;
  line-height:40px;
  height:40px;
}
#create-button span:last-child{
  display:block;
  float:right;
  width:40px;
  height:40px;
  padding:10px;
  background-color: #01b796;
  
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  
}

#create-button span:last-child svg{
  width:20px;
  height:20px;
  fill:#fff;
}
#create-button span:last-child svg path{
  fill:#fff;
}

#create-button:hover span:last-child {
  background-color: #00a788;
}






.myDiv {
    text-align: center;
    background: #eee;
    border: 1px solid #fff;
    box-shadow: 0px 0px 2px #999;
    width: 300px;
    padding:20px 0;
    margin: 20px auto;
}

.mask {
  width:100%;
  height:140px;
  overflow:hidden;
 }

.mask img{
  position:relative;
  width:100%;
  float:left;
  //-webkit-backface-visibility: hidden;
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s; /* Safari */
}

.mask:hover img{
  position:relative;
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s; /* Safari */
  -ms-transform: scale(1.1,1.1); /* IE 9 */
  -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
  transform: scale(1.1,1.1);
  
  
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */  
  filter: gray; /* IE6-9 */
  -webkit-filter: blur(2px) grayscale(1);
}
.closed{
  display:hidden;
}

.mask .lnkBtn{
  display:block;
  position:relative;
  background-color: #000;
  width:146px;
  height:40px;
  margin:50px auto 0 auto;
  border-radius:3px;
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s; /* Safari */
  -webkit-backface-visibility: hidden;
  filter: opacity(0%);
  -webkit-filter: opacity(0%);
  -moz-filter: opacity(0%);
  -o-filter: opacity(0%);
  -ms-filter: opacity(0%);
  opacity:0;
}
.mask:hover .lnkBtn{
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s; /* Safari */
  
  filter: opacity(50%);
  -webkit-filter: opacity(50%);
  -moz-filter: opacity(50%);
  -o-filter: opacity(50%);
  -ms-filter: opacity(50%);
  opacity:0.5;
}

.mask span{
  display:block;
  position:absolute;
  left:50%;
  margin-top:61px;
  pointer-events:none;
  margin-left:-35px;
  top:10px;
  color: #fff;
  font-weight:bold;
  
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s; 
  -o-transition-duration: 0.1s; 
  -ms-transition-duration: 0.1s; 

  filter: opacity(0%);
  -webkit-filter: opacity(0%);
  -moz-filter: opacity(0%);
  -o-filter: opacity(0%);
  -ms-filter: opacity(0%);
  opacity:0;
}

.mask:hover span{
  -webkit-font-smoothing:antialiased;
  transition-duration: 0.1s;
  
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s; 
  -o-transition-duration: 0.1s; 
  -ms-transition-duration: 0.1s; 
  
  -webkit-filter: opacity(100%);
  -moz-filter: opacity(100%);
  -o-filter: opacity(100%);
  -ms-filter: opacity(100%);
  opacity:1;


}






.cont .info{
  padding:15px;
}
.info p.headline{
  margin-top:5px;
  font-size:18px;
  font-weight:900;
  color:#000;
}

.members{
  padding:10px;
  width: 100%;
}
.member{
  width:16%;
  margin-right:5%;
  float:left;
}
.member:last-child{
  position:relative;
  margin-right:0%;
  display: table;
}
.member:last-child img{
  position:absolute;

}
.overlay {
    position: relative;
    width:100%;
    height:100%;
    top:-10px;
    color:#000;
}
.overlay p{
    padding-top:50%;
    display:inline-block;
    width:100%;
    height:100%;
    color:#000;
    text-align:center;
    vertical-align:middle;
}

.contain{
  padding: 0 15 0 15 !important;
}





.animate-repeat {
  -moz-transition:all linear 0.2s;
  -o-transition:all linear 0.2s;
  transition:all linear 0.2s;
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
  box-sizing:border-box;
}

.animate-repeat.ng-move-active,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -moz-transition:all linear 0.2s;
  -o-transition:all linear 0.2s;
  transition:all linear 0.2s;
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
  box-sizing:border-box;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
  -webkit-animation: lfBounceOut 0.5s;
  animation: lfBounceOut 0.5s;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}




/*
.animate-repeat {
  -moz-transition:all linear 0.2s;
  -o-transition:all linear 0.2s;
  transition:all linear 0.2s;
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
  box-sizing:border-box;
}

.animate-repeat.ng-move-active,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -moz-transition:all linear 0.2s;
  -o-transition:all linear 0.2s;
  transition:all linear 0.2s;
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
  box-sizing:border-box;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
*/

.animate-show {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
.animate-show.ng-hide-remove {
    -webkit-animation: lfbounceIn 0.5s;
    animation: lfbounceIn 0.5s;
}
.animate-show.ng-hide-add {
    -webkit-animation: lfBounceOut 0.5s;
    animation: lfBounceOut 0.5s;
    display: block !important;
}

.loadscreen {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
.loadscreen.ng-hide-remove {
    -webkit-animation: lfflipInX 0.5s;
    animation: lfflipInX 0.5s;
}
.loadscreen.ng-hide-add {
    -webkit-animation: lfflipOutX 0.5s;
    animation: lfflipOutX 0.5s;
    display: block !important;
}


@-webkit-keyframes lfflipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 20deg) scale3d(.6, .6, .6); 
    transform: perspective(400px) rotate3d(1, 0, 0, 20deg) scale3d(.6, .6, .6);
    opacity: 0;
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes lfflipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 20deg) scale3d(.6, .6, .6);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 20deg) scale3d(.6, .6, .6);
    transform: perspective(400px) rotate3d(1, 0, 0, 20deg) scale3d(.6, .6, .6);
    opacity: 0;
  }
  100% {
    -webkit-transform: perspective(400px);
    -ms-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.lfflipInX {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: lfflipInX;
  animation-name: lfflipInX;
}




@-webkit-keyframes lfflipOutX {
  0% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 20deg) scale3d(.6, .6, .6); 
    transform: perspective(400px) rotate3d(1, 0, 0, 20deg) scale3d(.6, .6, .6);
    opacity: 0;
  }
}
@keyframes lfflipOutX {
  0% {
    -webkit-transform: perspective(400px);
    -ms-transform: perspective(400px);
    transform: perspective(400px);
  }

  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 20deg) scale3d(.6, .6, .6);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 20deg) scale3d(.6, .6, .6);
    transform: perspective(400px) rotate3d(1, 0, 0, 20deg) scale3d(.6, .6, .6);
    opacity: 0;
  }
}
.lfflipOutX {
  -webkit-animation-name: flipOutX;
  animation-name: flipOutX;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
}



.boardmask{
  width:100%;
  height:auto;
  -moz-transition:all linear 0.2s;
  -o-transition:all linear 0.2s;
  transition:all linear 0.2s;
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
}
.boardmask.ng-hide-remove{
  width:100%;
}
.boardmask.ng-hide-add{
  width:0%;
}

div#create.boardmask.lf-grid-sm.remove{
  width:0%;
  padding:0px;
}


.super{
  -moz-transition:all linear 0.2s;
  -o-transition:all linear 0.2s;
  transition:all linear 0.2s;
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
}
.super.ng-hide-remove{
  width:100%;
}
.super.ng-hide-add{
  width:0%;
}



/*
.animate-show {
  -moz-transition:all linear 0.2s;
  -o-transition:all linear 0.2s;
  transition:all linear 0.2s;
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
  opacity:1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display:block!important;
  
}
.animate-show.ng-hide {
  opacity: 0;
  width:0%;
  min-widht:0px;
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
}
*/



@-webkit-keyframes lfbounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes lfbounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.lfbounceIn {
  -webkit-animation-name: lfbounceIn;
  animation-name: lfbounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}





@-webkit-keyframes lfBounceOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }


  100% {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);

  }
}

@keyframes lfBounceOut {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }
}



// linkfire grid classes small (boards) and large (links)

.lf-grid-sm {
position:relative;
width:100%;
float: left;
padding: 12px;
}

.lf-grid-lg {
width:100%;
float: left;
padding: 12px;
}


@media (min-width: 595px){.lf-grid-sm{width:50%}}
@media (min-width: 820px){.lf-grid-sm{width:33.33333%}}
@media (min-width: 1045px){.lf-grid-sm{width:25%}}
@media (min-width: 1270px){.lf-grid-sm{width:20%}}
@media (min-width: 1495px){.lf-grid-sm{width:16.66667%}}
@media (min-width: 1720px){.lf-grid-sm{width:14.28571%}}
@media (min-width: 1945px){.lf-grid-sm{width:12.5%}}
@media (min-width: 2170px){.lf-grid-sm{width:11.11111%}}
@media (min-width: 2395px){.lf-grid-sm{width:10%}}
@media (min-width: 2620px){.lf-grid-sm{width:9.09091%}}
@media (min-width: 2845px){.lf-grid-sm{width:8.33333%}}
@media (min-width: 3070px){.lf-grid-sm{width:7.69231%}}
@media (min-width: 3295px){.lf-grid-sm{width:7.14286%}}
@media (min-width: 3520px){.lf-grid-sm{width:6.66667%}}


@media (min-width: 820px){.lf-grid-lg{width:66.66666%}}
@media (min-width: 1045px){.lf-grid-lg{width:50%}}
@media (min-width: 1270px){.lf-grid-lg{width:40%}}
@media (min-width: 1495px){.lf-grid-lg{width:33.33333%}}
@media (min-width: 1720px){.lf-grid-lg{width:28.57142%}}
@media (min-width: 1945px){.lf-grid-lg{width:25%}}
@media (min-width: 2170px){.lf-grid-lg{width:22.22222%}}
@media (min-width: 2395px){.lf-grid-lg{width:20%}}
@media (min-width: 2620px){.lf-grid-lg{width:18.18182%}}
@media (min-width: 2845px){.lf-grid-lg{width:16.666666%}}
@media (min-width: 3070px){.lf-grid-lg{width:15.38462%}}
@media (min-width: 3295px){.lf-grid-lg{width:14.28571%}}
@media (min-width: 3520px){.lf-grid-lg{width:13.33334%}}

