//Smartphone Landscape and portrait
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */

  .modal{
    .modal-dialog{
      width: 97%;
      margin: 1.5%;
      margin-top: 20%;
      .modal-content{
        padding: 5%;
      }
    }
  }
  #landing{
    height: 100vh;
    .jumbotron{
      margin: 100% 0 25% 0;
      h1{
        font-size: 150%;
      }
      p{
        font-size: 90%;
        text-align: center;
      }
    }
  }

  #features{
    h1, p{
      text-align: center;
    }

    h1{
      font-size: 120%;
    }

    .feat-img{
      width: 70%;
    }

  }
  #splitter, #splitter2{
    .splitter-head{
      font-size:  125%;
    }
  }

  #splitter3{
    .row{
      h1, h3{
        font-size:  125%;
      }
    }
  }

  footer{
    .row{
      .footer-container{
        height: 55px;
      }

      h4{
        font-size: 90%;
        margin-top: 8%;
        margin-bottom: 5%;
      }

      p{
        font-size: 80%;
        margin: 0 0 2%;
        color: #587995;
      }

      img{
        width: 52%;
        margin: 10px 0;
      }
    }
  }


  .feat{
    .circ{
      margin-top: 35px;
      width: 35px;
      height: 35px;
      background-color: #3cbda3;
      border-radius: 50%;
      padding-left: 10px;
      [class^="icon-"]{
        line-height: 37px;
        font-size: 110%;
      }
    }
  }
}