//Reset modal
.modal-dialog{
  width: 380px;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 10% auto;
  .modal-body{
    padding: 0px;
  }

  p, a{
    text-align: center;
    color: $font-color-grey;
  }

  h4{
    margin: 0px;
    margin-bottom: 10px;
  }

  .modal-content{
    padding: 20px 25px 0 25px;
    background-color: #ffffff;
    border: 0px solid rgba(0,0,0,.2);
    box-shadow: 0 0px 0px rgba(0,0,0,0);

    .form{
      background-color: #ffffff;
      border-radius: 5px;


      a{
        text-decoration: underline;
      }

      input.ng-invalid{
        &.ng-dirty{

        }
      }

    }

    .modal-footer {
      margin-top: 0px;
      padding: 19px 20px 20px;
      text-align: center;
      border-top: 0px solid #e5e5e5;
    }
  }

  .modal-backdrop.in {
    opacity: .75;
    filter: alpha(opacity=75);
  }
}