.notifyjs-corner{
	width:100%;
	.notifyjs-wrapper{
		margin:0;
	}
}


.notifyjs-corner .notifyjs-wrapper, .notifyjs-corner .notifyjs-container	{
	margin:0;
}
.notifyjs-corner .notifyjs-container{
	text-align:center !important;
}