.splitter-head  {
  text-transform:Uppercase;
  font-size:52px;
  color: $font-color;
  line-height:1.1em;
  font-weight:100;
}


#splitter{
  @include background(image-url("bg-splitter1.jpg"));
  @extend .bg-prefs;
  .row{
    margin-top: 5%;
    margin-bottom: 6%;
  }
}


#splitter2{
  @include background(image-url("bg-splitter2.jpg"));
  @extend .bg-prefs;
  .row{
    margin-top: 7%;
    margin-bottom: 7%;
  }
}

#splitter3{
  @include background(image-url("bg-splitter3.jpg"));
  @extend .bg-prefs;

  .row{
    margin-top: 5%;
    margin-bottom: 5%;
    h1, h3{
      color: #ffffff;
      text-align: center;
      text-transform:uppercase;
      padding:0;
      margin:0;
    }

    h3{
      font-weight: 100;
    }
    h1{
      font-size: 72px;
      margin:0 0 10px 0;
    }
  }
}