#target{
  //@include background(image-url("bg-target.jpg"));
  @include background-size(cover);
  background-color:#f0f1f3;
  height:100%;
  width: 100%;
  background-position:center;
  color:#000;

  .bg img{
    position:relative;
    top:50%;
    left:-200px;
    -ms-transform: scale(1.5,1.5); /* IE 9 */
    -webkit-transform: scale(1.5,1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5,1.5);

  }
  .row{
    position: relative;
    padding:5% 0;
    h4{
      margin-top: 0px;
    }
  }
}