$icon-font-path: "/fonts/";
@import "compass/css3";
@import "helpers/mixins";
@import "helpers/colors";
@import "helpers/buttons";
@import "helpers/infoboxes";
@import "helpers/helpers";
@import "helpers/animation";
@import "helpers/resets";
@import "helpers/arrows";
@import "modal";
@import "notification";

//header & footer styles
@import "header";
@import "footer";

//pages
@import "landing/pricing";
@import "landing/landing";
@import "landing/features";
@import "landing/target";
@import "landing/splitters";
@import "landing/insights";
@import "landing/press";
@import "about";

//Linkfeed
@import "linkfeed/linkfeed";

//Boardsfeed
@import "boards/board";
@import "boards/createboard";
@import "boards/tags";

//Elements
@import "elements/dropdown";




//mobile
@import "Mobile_and_tablet/mobile";
@import "Mobile_and_tablet/tablet";

body {
  font-family: 'Roboto', sans-serif;

}
.container-fluid{
  padding:0 5% 0 5%;
  overflow:hidden;
}

p, span{
  color: $font-color;
}


.bg-prefs  {
  @include background-size(cover);
  width: 100%;
  height: 100%;
  background-position:center;
  color:#000;
}

#logo-banner{
  background-color:$grey-lightest;
}

#footer {
  background-color: #22272f;
}


.SnapABug_Button {
    background-color:blue-darkest;

  }
// Custom media specific classes //


// xs //
@media (max-width: 767px) {
  .SnapABug_Button {
    display: none !important;
  }


  .info-box {
    margin-bottom:20px;
    h1{
      font-size:22px;
      color:$blue-light;
      line-height:1.1em;
      font-weight:900;
    }
    p{
      font-size:12px;
      word-wrap: normal;
      line-height:1.7em;
    }
  }
}

//Screen adjustments
// sm //
@media (min-width: 768px) and (max-width: 991px) {
  .SnapABug_Button {
    display: none !important;
  }
  .info-box {
    margin-bottom:20px;
    h1{
      font-size:32px;
      color:$blue-light;
      line-height:1.1em;
      font-weight:900;
    }
    p{
      word-wrap: normal;
      line-height:1.7em;
    }
  }
  li{
  .arrow{
      left: 0;
      opacity: 1;
      position: relative;
      width: 0;
      border: 10px solid transparent;
      @include transition(all, 0.5s, ease);
      border-bottom-color: #dddfe1;
      margin: 0 auto;
      margin-bottom: -5px;
    }
  }

}
// md //
@media (min-width: 992px) and (max-width: 1199px) {
    .info-box {
    margin-bottom:20px;
    h1{
      font-size:32px;
      line-height:1.1em;
      font-weight:900;
    }
    p{
      font-size:12px;
      word-wrap: normal;
      line-height:1.7em;
    }
  }
}

// very lg //
@media (min-width: 1600px) {
  .container-fluid > div{
    width: 1600px !important;
    margin: auto;
  }
}