$icon-font-path: "/fonts/";
@import "compass/css3";
@import "mixins";
@import "colors";
@import "buttons";
@import "helpers";
@import "animation";
@import "modal";
@import "resets";

//header & footer styles
@import "header";
@import "footer";

//pages
@import "pricing";
@import "landing";
@import "features";
@import "target";
@import "splitters";
@import "insights";

//mobile
@import "mobile";


body {
  font-family: 'Roboto', sans-serif;

}
.container-fluid{
  padding:0 5% 0 5%;
}

p, span{
  color: $font-color;
}

.bg-prefs  {
  @include background-size(cover);
  width: 100%;
  height: 100%;
  background-position:center;
  color:#000;
}

#logo-banner{
  background-color:$grey-lightest;
}


#press{
  @include background(image-url("bg-testimonial.jpg"));
  @include background-size(cover);
  .testimonial{
    padding:30px;
    .row{
      .icon-quotes-left{
        font-size: 40px;
      }

      div{
        text-align: center;
      }
      h3{
        color: #ffffff ;
        font-size: 23px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
      }
    }
  }
  .row{
    margin-bottom: 2%;
    margin-top: 2%;


  }
  .presslogos{
    div{
      opacity: 0.5;

      &.current{
        opacity: 1;
        @include transition(all, 0.5s, ease);
      }
    }
  }
}

.valign {
  padding:10% 0;
}
.feat-img{
  margin:0 auto 0 auto;
}

// Infobox is the text elements above the shufflebox used on "features", "target" and "insights".

.info-box {
    h1{
      font-size:40px;
      text-transform:uppercase;
      color:$header-blue;
      line-height:1.2em;
      padding:0;
      font-weight:700;
    }
    p{
      color:$font-color-grey;
      font-size:16px;
      line-height:1.7em;
    }
  }


// Shufflebox are the 3-spot boxes reused on "features", "target" and "insights". The feature class adds grey background and arrow //
.shufflebox{
  height:105px;
  margin-top:10px;
  @include border-radius(5px);
  padding: 20px 25px 20px 25px;
  @include transition(all, 0.5s, ease);

  .content  {
    padding:0 20px 0 20px;
    margin:0;
  }

  h2{
    color:$header-blue;
    text-transform:uppercase;
    font-weight:300;
    line-height:1.4em;
    padding:0;
    margin:0;
  }
  p{
    padding:0;
    margin:0;
    color:$font-color-grey;
  }    
  h4{
    margin-top: 0px;
    text-transform:uppercase;
    color:$header-darkest;
  }
}

.circ{
  position:relative;
  top:50%;
  margin-top:-25px;
  display: table-cell;
  width:50px;
  height:50px;
  background-color:$lf-green;
  float:left;
  border-radius: 25px;

  [class^="icon-"]{
    line-height: 50px;
    font-size: 140%;
  }
}

.arrow {
  top:50%;
  margin-top:-10px;
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  opacity:0;
  left:-20px;
  border: 10px solid transparent;
  @include transition(all, 0.5s, ease);
  border-right-color: $grey-lighter;
}

.right{
  right:-20px;
  left: inherit;
  border-right-color: transparent;
  border-left-color: $grey-lighter;
}

.feat{
  display: inline-block;
  background-color:$grey-lighter;
  opacity: 1;
  @include transition(all, 0.5s, ease);
  .arrow {
    opacity:1;
  }
}