@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-8xkxj7');
	src:url('/fonts/icomoon.eot?#iefix-8xkxj7') format('embedded-opentype'),
		url('/fonts/icomoon.woff?-8xkxj7') format('woff'),
		url('/fonts/icomoon.ttf?-8xkxj7') format('truetype'),
		url('/fonts/icomoon.svg?-8xkxj7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-shuffle:before {
	content: "\e601";
}
.icon-music:before {
	content: "\e610";
}
.icon-pacman:before {
	content: "\e616";
}
.icon-clock:before {
	content: "\e648";
}
.icon-clock2:before {
	content: "\e649";
}
.icon-alarm2:before {
	content: "\e64b";
}
.icon-stopwatch:before {
	content: "\e64d";
}
.icon-mobile:before {
	content: "\e654";
}
.icon-mobile2:before {
	content: "\e655";
}
.icon-tablet:before {
	content: "\e656";
}
.icon-tv:before {
	content: "\e657";
}
.icon-undo:before {
	content: "\e662";
}
.icon-redo:before {
	content: "\e663";
}
.icon-user:before {
	content: "\e670";
}
.icon-users:before {
	content: "\e671";
}
.icon-user2:before {
	content: "\e672";
}
.icon-users2:before {
	content: "\e673";
}
.icon-user3:before {
	content: "\e674";
}
.icon-user4:before {
	content: "\e675";
}
.icon-quotes-left:before {
	content: "\e676";
}
.icon-spinner:before {
	content: "\e678";
}
.icon-spinner2:before {
	content: "\e679";
}
.icon-spinner5:before {
	content: "\e67c";
}
.icon-spinner6:before {
	content: "\e67d";
}
.icon-key2:before {
	content: "\e687";
}
.icon-lock:before {
	content: "\e688";
}
.icon-lock2:before {
	content: "\e689";
}
.icon-unlocked:before {
	content: "\e68a";
}
.icon-wrench:before {
	content: "\e68b";
}
.icon-cog:before {
	content: "\e68e";
}
.icon-cogs:before {
	content: "\e68f";
}
.icon-cog2:before {
	content: "\e690";
}
.icon-pie:before {
	content: "\e695";
}
.icon-stats:before {
	content: "\e696";
}
.icon-bars:before {
	content: "\e697";
}
.icon-remove:before {
	content: "\e6a7";
}
.icon-remove2:before {
	content: "\e6a8";
}
.icon-switch:before {
	content: "\e6b1";
}
.icon-powercord:before {
	content: "\e6b2";
}
.icon-signup:before {
	content: "\e6b3";
}
.icon-list:before {
	content: "\e6b4";
}
.icon-list2:before {
	content: "\e6b5";
}
.icon-tree:before {
	content: "\e6b9";
}
.icon-cloud:before {
	content: "\e6ba";
}
.icon-cloud-download:before {
	content: "\e6bb";
}
.icon-cloud-upload:before {
	content: "\e6bc";
}
.icon-link:before {
	content: "\e6c3";
}
.icon-flag:before {
	content: "\e6c4";
}
.icon-star:before {
	content: "\e6ce";
}
.icon-star3:before {
	content: "\e6d0";
}
.icon-heart:before {
	content: "\e6d1";
}
.icon-notification:before {
	content: "\e6f5";
}
.icon-question:before {
	content: "\e6f6";
}
.icon-info:before {
	content: "\e6f7";
}
.icon-info2:before {
	content: "\e6f8";
}
.icon-spam:before {
	content: "\e6fc";
}
.icon-close:before {
	content: "\e6fd";
}
.icon-checkmark:before {
	content: "\e6fe";
}
.icon-checkmark2:before {
	content: "\e6ff";
}
.icon-spell-check:before {
	content: "\e700";
}
.icon-minus:before {
	content: "\e701";
}
.icon-plus:before {
	content: "\e702";
}
.icon-enter:before {
	content: "\e703";
}
.icon-exit:before {
	content: "\e704";
}
.icon-play3:before {
	content: "\e70a";
}
.icon-console:before {
	content: "\e75d";
}
.icon-share:before {
	content: "\e75e";
}
.icon-facebook2:before {
	content: "\e76a";
}
.icon-cursor:before {
	content: "\e600";
}
