/* line 1, ../sass/_buttons.scss */
.btn {
  margin: 10px 0px;
  height: 50px;
  border: 0;
  border-radius: 3px;
  color: whitesmoke;
  padding: 14px 44px;
  transition: all 0.3s ease;
}
/* line 10, ../sass/_buttons.scss */
.btn span {
  color: #ffffff;
}
/* line 14, ../sass/_buttons.scss */
.btn[disabled] {
  transition: all 0.3s ease;
}
/* line 18, ../sass/_buttons.scss */
.btn.btn-primary {
  background-color: #fc3429;
}
/* line 21, ../sass/_buttons.scss */
.btn.btn-primary i[class^="icon-"] {
  background-color: #e22f25;
}
/* line 26, ../sass/_buttons.scss */
.btn i[class^="icon-"] {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 30, ../sass/_buttons.scss */
.btn.btn-primary:hover {
  background-color: #e82b22;
}
/* line 33, ../sass/_buttons.scss */
.btn.btn-primary:hover i[class^="icon-"] {
  background-color: #d0271f;
}
/* line 38, ../sass/_buttons.scss */
.btn.btn-green {
  background-color: #2c947f;
}
/* line 43, ../sass/_buttons.scss */
.btn.btn-block span {
  text-align: left;
  display: inline-block;
  width: 75%;
  font-size: 16px;
  font-weight: 400;
}
/* line 52, ../sass/_buttons.scss */
.btn.btn-no-border {
  border-radius: 0px;
}
/* line 56, ../sass/_buttons.scss */
.btn.btn-standard {
  height: 42px;
}
/* line 60, ../sass/_buttons.scss */
.btn.btn-facebook {
  color: #fff;
  background-color: #3d60a0;
  border-color: rgba(0, 0, 0, 0.2);
}
/* line 65, ../sass/_buttons.scss */
.btn.btn-facebook i[class^="icon-"] {
  background-color: #345288;
}
/* line 70, ../sass/_buttons.scss */
.btn.btn-facebook:hover {
  color: #fff;
  background-color: #30487b;
  border-color: rgba(0, 0, 0, 0.2);
}
/* line 75, ../sass/_buttons.scss */
.btn.btn-facebook:hover i[class^="icon-"] {
  background-color: #30487b;
}
/* line 84, ../sass/_buttons.scss */
.btn.btn-icon {
  padding: 14px 0px 14px 20px;
}
/* line 89, ../sass/_buttons.scss */
.btn i[class^="icon-"] {
  padding: 20px;
  padding: 20px;
  margin: 0px;
  margin-left: 20px;
}

/* line 101, ../sass/_buttons.scss */
button.close {
  color: #999999;
  position: absolute;
  opacity: 1;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  font-size: 30px;
  line-height: 1;
  right: 10px;
  top: 5px;
}
/* line 114, ../sass/_buttons.scss */
button.close:focus {
  outline: 0;
}

/* line 119, ../sass/_buttons.scss */
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #e5e5e5;
  border: 0px solid #ccc;
  border-radius: 0px;
}

/* line 132, ../sass/_buttons.scss */
input[type="email"], input[type="password"] {
  border-radius: 5px;
  display: block;
  width: 100%;
  border: 1px solid #dbdbdb;
  color: #999999;
  background-color: #ffffff;
  padding: 15px 5px;
  padding-left: 20px;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 1, ../sass/_helpers.scss */
.text-left {
  text-align: left;
}

/* line 5, ../sass/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 9, ../sass/_helpers.scss */
.text-right {
  text-align: right;
}

/* line 13, ../sass/_helpers.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 19, ../sass/_helpers.scss */
.bold {
  font-weight: 600;
}

/* line 23, ../sass/_helpers.scss */
input.has-error {
  transition: all 0.5s ease;
  color: #fc3429;
  border: 1px solid #fc3429;
}

/* line 29, ../sass/_helpers.scss */
input.valid {
  transition: all 0.5s ease;
  color: #2c947f;
  border: 1px solid #2c947f;
}

/* line 2, ../sass/_modal.scss */
.modal-dialog {
  width: 380px;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 10% auto;
}
/* line 8, ../sass/_modal.scss */
.modal-dialog p, .modal-dialog a {
  text-align: center;
  color: #999999;
}
/* line 13, ../sass/_modal.scss */
.modal-dialog h4 {
  margin: 0px;
  margin-bottom: 10px;
}
/* line 18, ../sass/_modal.scss */
.modal-dialog .modal-content {
  padding: 15px 30px 0 30px;
  background-color: #ffffff;
  border: 0px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
/* line 24, ../sass/_modal.scss */
.modal-dialog .modal-content .form {
  background-color: #ffffff;
  border-radius: 5px;
}
/* line 29, ../sass/_modal.scss */
.modal-dialog .modal-content .form a {
  text-decoration: underline;
}
/* line 41, ../sass/_modal.scss */
.modal-dialog .modal-content .modal-footer {
  margin-top: 0px;
  padding: 19px 20px 20px;
  text-align: center;
  border-top: 0px solid #e5e5e5;
}
/* line 49, ../sass/_modal.scss */
.modal-dialog .modal-backdrop.in {
  opacity: .75;
  filter: alpha(opacity=75);
}

/* line 1, ../sass/_resets.scss */
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/_resets.scss */
input, button {
  outline: 0;
}

/* line 12, ../sass/_resets.scss */
a {
  cursor: pointer;
}

/* line 17, ../sass/_resets.scss */
.glyphicon {
  color: #999999;
}

/* line 21, ../sass/_resets.scss */
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #e5e5e5;
  border: 0px solid #ccc;
  border-radius: 0px;
}

/* line 2, ../sass/_header.scss */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 62px;
  z-index: 50;
  transition: background-color 0.2s linear;
}
/* line 11, ../sass/_header.scss */
#header .logo {
  content: " ";
  height: 34px;
  margin-top: 14px;
  margin-left: 15px;
  display: block;
  vertical-align: middle;
  background: url('../images/linkfire_logo_w_text.svg?1404998920');
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-color 0.2s linear;
}
/* line 24, ../sass/_header.scss */
#header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 60px;
  padding-bottom: 19px;
}
/* line 34, ../sass/_header.scss */
#header .nav-pills > li > a {
  background-color: transparent;
  color: #fff;
  border-radius: 0px;
  padding: 20px 0px 5px 0px;
  margin: 0 15px;
}
/* line 42, ../sass/_header.scss */
#header .nav-pills > li > a:hover {
  color: whitesmoke;
  border-bottom: 2px solid #fc3429;
}
/* line 48, ../sass/_header.scss */
#header .nav-pills > li > a.active {
  background-color: transparent;
}

/* line 55, ../sass/_header.scss */
.icon-lock {
  margin-right: 5px;
}

/* line 58, ../sass/_header.scss */
#header.add-bg {
  background-color: #22272f;
  opacity: 0.9;
  transition: background-color 0.2s easeinout;
}

/* line 1, ../sass/_footer.scss */
footer {
  background-color: #22272f;
  color: #ffffff;
}
/* line 4, ../sass/_footer.scss */
footer .row {
  padding: 20px 0px;
}
/* line 6, ../sass/_footer.scss */
footer .row h4 {
  font-size: 18px;
}
/* line 10, ../sass/_footer.scss */
footer .row img {
  margin-top: 20px;
  display: block;
  margin: 15px auto;
}

/* line 2, ../sass/_pricing.scss */
#pricing {
  background-color: #ffffff;
  padding-top: 30px;
  width: 100%;
  background-position: center;
  color: #000;
}
/* line 11, ../sass/_pricing.scss */
#pricing .row .price {
  font-size: 3em;
}
/* line 15, ../sass/_pricing.scss */
#pricing .row .small {
  font-size: 2em;
}
/* line 19, ../sass/_pricing.scss */
#pricing .row .price span {
  color: #999999;
  font-size: 14px;
  text-transform: none;
}
/* line 25, ../sass/_pricing.scss */
#pricing .row .price-cents {
  vertical-align: super;
  font-size: 50%;
}
/* line 31, ../sass/_pricing.scss */
#pricing .row .price-month {
  font-size: 35%;
  font-style: italic;
}
/* line 36, ../sass/_pricing.scss */
#pricing .row .panel {
  background-color: #f0f1f3;
  -webkit-transition-property: scale;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}
/* line 43, ../sass/_pricing.scss */
#pricing .row .panel .panel-heading {
  background-color: #22272f;
}
/* line 45, ../sass/_pricing.scss */
#pricing .row .panel .panel-heading h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 34px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
/* line 55, ../sass/_pricing.scss */
#pricing .row .panel .list-group-item {
  background-color: #f0f1f3;
  color: #999999;
  border-color: #d8d8da;
}
/* line 60, ../sass/_pricing.scss */
#pricing .row .panel .list-group-item {
  background-color: #f0f1f3;
  color: #999999;
  border-color: #d8d8da;
}
/* line 65, ../sass/_pricing.scss */
#pricing .row .panel .large .list-group-item {
  padding: 13px 15px;
}
/* line 69, ../sass/_pricing.scss */
#pricing .row .panel .list-group-item .btn {
  width: 95%;
}
/* line 76, ../sass/_pricing.scss */
#pricing .row .panel:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
}
/* line 85, ../sass/_pricing.scss */
#pricing p {
  text-align: center;
}

/* line 89, ../sass/_pricing.scss */
.unavailable {
  opacity: 0.3;
}

/* line 93, ../sass/_pricing.scss */
.plan-small {
  margin-top: 20px;
}

/* line 96, ../sass/_pricing.scss */
small {
  font-size: 2em;
}

/* line 101, ../sass/_pricing.scss */
#pricing h1 {
  text-transform: uppercase;
  color: #22272f;
  font-size: 34px;
  font-weight: 700;
}

/* line 108, ../sass/_pricing.scss */
#pricing h3 {
  text-transform: uppercase;
  color: #22272f;
  font-size: 22px;
  font-weight: 700;
}

/* line 115, ../sass/_pricing.scss */
#pricing h4 {
  text-transform: uppercase;
  color: #22272f;
  font-size: 22px;
  font-weight: 700;
}

/* line 122, ../sass/_pricing.scss */
#pricing p {
  font-size: 18px;
  font-weight: 300;
  color: #acacad;
  margin-bottom: 50px;
}

/* line 129, ../sass/_pricing.scss */
#pricing p.addition {
  font-size: 16px;
  font-weight: 300;
  color: #acacad;
  margin-bottom: 50px;
  margin-top: 30px;
}

/* line 1, ../sass/_landing.scss */
#landing {
  background: url('../images/bg1.jpg?1404978905');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-position: center;
  color: #000;
}
/* line 11, ../sass/_landing.scss */
#landing .jumbotron {
  margin: 25% 0 25% 0;
  padding: 0;
  background-color: transparent;
  vertical-align: middle;
}
/* line 17, ../sass/_landing.scss */
#landing .jumbotron h1 {
  text-transform: Uppercase;
  color: whitesmoke;
  line-height: 1.1em;
  margin: 0;
  padding: 0;
  font-weight: 500;
}
/* line 26, ../sass/_landing.scss */
#landing .jumbotron p {
  color: whitesmoke;
  font-size: 30px;
}

/* line 1, ../sass/_features.scss */
#features {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 5% 0 5% 0;
  width: 100%;
  height: 100%;
  background-position: center;
  color: #000;
}
/* line 11, ../sass/_features.scss */
#features .row h4 {
  margin-top: 0px;
  text-transform: uppercase;
}

/* line 19, ../sass/_features.scss */
.feat-content {
  padding: 10% 0 15% 0;
}

/* line 23, ../sass/_features.scss */
.cn {
  padding: 5% 0 15% 0;
}

/* line 26, ../sass/_features.scss */
.feat-img {
  margin: 0 auto 0 auto;
}

/* line 1, ../sass/_target.scss */
#target {
  background: url('../images/bg-target.jpg?1404978905');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #f0f1f3;
  height: 100%;
  width: 100%;
  padding-top: 15%;
  padding-bottom: 15%;
  background-position: center;
  color: #000;
}
/* line 13, ../sass/_target.scss */
#target .row h4 {
  margin-top: 0px;
}

/* line 1, ../sass/_splitters.scss */
.splitter-head {
  text-transform: Uppercase;
  font-size: 52px;
  color: whitesmoke;
  line-height: 1.1em;
  font-weight: 100;
}

/* line 10, ../sass/_splitters.scss */
#splitter {
  background: url('../images/bg-splitter1.jpg?1404978905');
}
/* line 13, ../sass/_splitters.scss */
#splitter .row {
  margin-top: 5%;
  margin-bottom: 6%;
}

/* line 20, ../sass/_splitters.scss */
#splitter2 {
  background: url('../images/bg-splitter2.jpg?1404978905');
}
/* line 23, ../sass/_splitters.scss */
#splitter2 .row {
  margin-top: 7%;
  margin-bottom: 7%;
}

/* line 29, ../sass/_splitters.scss */
#splitter3 {
  background: url('../images/bg-splitter3.jpg?1404978905');
}
/* line 33, ../sass/_splitters.scss */
#splitter3 .row {
  margin-top: 5%;
  margin-bottom: 5%;
}
/* line 36, ../sass/_splitters.scss */
#splitter3 .row h1, #splitter3 .row h3 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
/* line 44, ../sass/_splitters.scss */
#splitter3 .row h3 {
  font-weight: 100;
}
/* line 47, ../sass/_splitters.scss */
#splitter3 .row h1 {
  font-size: 72px;
  margin: 0 0 10px 0;
}

/* line 1, ../sass/_insights.scss */
#insights {
  background: url('../images/bg-insights.jpg?1404978905');
  padding-top: 15%;
  padding-bottom: 15%;
}
/* line 8, ../sass/_insights.scss */
#insights .row h4 {
  margin-top: 0px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  /* line 6, ../sass/_mobile.scss */
  .modal .modal-dialog {
    width: 97%;
    margin: 1.5%;
    margin-top: 20%;
  }
  /* line 10, ../sass/_mobile.scss */
  .modal .modal-dialog .modal-content {
    padding: 5%;
  }

  /* line 15, ../sass/_mobile.scss */
  #landing {
    height: 100vh;
  }
  /* line 17, ../sass/_mobile.scss */
  #landing .jumbotron {
    margin: 100% 0 25% 0;
  }
  /* line 19, ../sass/_mobile.scss */
  #landing .jumbotron h1 {
    font-size: 150%;
  }
  /* line 22, ../sass/_mobile.scss */
  #landing .jumbotron p {
    font-size: 90%;
    text-align: center;
  }

  /* line 31, ../sass/_mobile.scss */
  #features .content h1, #features .content p {
    text-align: center;
  }
  /* line 35, ../sass/_mobile.scss */
  #features .content h1 {
    font-size: 120%;
  }
  /* line 40, ../sass/_mobile.scss */
  #features .feat-img {
    width: 55%;
  }

  /* line 46, ../sass/_mobile.scss */
  #splitter .splitter-head, #splitter2 .splitter-head {
    font-size: 125%;
  }

  /* line 53, ../sass/_mobile.scss */
  #splitter3 .row h1, #splitter3 .row h3 {
    font-size: 125%;
  }

  /* line 61, ../sass/_mobile.scss */
  footer .row .footer-container {
    height: 55px;
  }
  /* line 65, ../sass/_mobile.scss */
  footer .row h4 {
    font-size: 90%;
    margin-top: 8%;
    margin-bottom: 5%;
  }
  /* line 71, ../sass/_mobile.scss */
  footer .row p {
    font-size: 80%;
    margin: 0 0 2%;
    color: #587995;
  }
  /* line 77, ../sass/_mobile.scss */
  footer .row img {
    width: 52%;
    margin: 10px 0;
  }

  /* line 85, ../sass/_mobile.scss */
  .image .arrow {
    left: 0;
    opacity: 1;
    position: relative;
    width: 0;
    border: 10px solid transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom-color: #dddfe1;
    margin: 0 auto;
    margin-bottom: -2%;
  }

  /* line 103, ../sass/_mobile.scss */
  .feat {
    margin: 2% 7%;
    border-radius: 5px;
    height: 70px;
    padding-top: 3%;
  }
  /* line 108, ../sass/_mobile.scss */
  .feat .circ {
    margin-top: 50%;
    width: 35px;
    height: 35px;
    background-color: #3cbda3;
    border-radius: 50%;
    padding-left: 10px;
  }
  /* line 116, ../sass/_mobile.scss */
  .feat .circ [class^="icon-"] {
    line-height: 37px;
    font-size: 110%;
  }
  /* line 122, ../sass/_mobile.scss */
  .feat p, .feat h4 {
    text-align: left;
  }
  /* line 126, ../sass/_mobile.scss */
  .feat h4 {
    margin-bottom: 0;
    font-size: 120%;
  }
  /* line 131, ../sass/_mobile.scss */
  .feat p {
    color: #666666;
    font-size: 85%;
  }
}
/* line 27, ../sass/main.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 30, ../sass/main.scss */
.container-fluid {
  padding: 0 5% 0 5%;
}

/* line 35, ../sass/main.scss */
p, span {
  color: whitesmoke;
}

/* line 39, ../sass/main.scss */
.bg-prefs, #splitter, #splitter2, #splitter3, #insights {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  color: #000;
}

/* line 49, ../sass/main.scss */
#logo-banner {
  background-color: #f0f1f3;
}

/* line 54, ../sass/main.scss */
#press {
  background: url('../images/bg-testimonial.jpg?1404978905');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 57, ../sass/main.scss */
#press .testimonial {
  padding: 30px;
}
/* line 60, ../sass/main.scss */
#press .testimonial .row .icon-quotes-left {
  font-size: 40px;
}
/* line 64, ../sass/main.scss */
#press .testimonial .row div {
  text-align: center;
}
/* line 67, ../sass/main.scss */
#press .testimonial .row h3 {
  color: white;
  font-size: 23px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}
/* line 76, ../sass/main.scss */
#press .row {
  margin-bottom: 2%;
  margin-top: 2%;
}
/* line 83, ../sass/main.scss */
#press .presslogos div {
  opacity: 0.5;
}
/* line 86, ../sass/main.scss */
#press .presslogos div.current {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 106, ../sass/main.scss */
.info-box h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #292f38;
  line-height: 1.2em;
  padding: 0;
  font-weight: 700;
}

/* line 114, ../sass/main.scss */
.info-box p {
  color: #999999;
  font-size: 16px;
  line-height: 1.7em;
}

/* line 121, ../sass/main.scss */
.shufflebox {
  height: 105px;
  margin-top: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 20px 25px 20px 25px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 128, ../sass/main.scss */
.shufflebox .content {
  padding: 0 20px 0 20px;
  margin: 0;
}
/* line 133, ../sass/main.scss */
.shufflebox h2 {
  color: #292f38;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.4em;
  padding: 0;
  margin: 0;
}
/* line 141, ../sass/main.scss */
.shufflebox p {
  padding: 0;
  margin: 0;
  color: #999999;
}
/* line 146, ../sass/main.scss */
.shufflebox h4 {
  margin-top: 0px;
  text-transform: uppercase;
  color: black;
}

/* line 153, ../sass/main.scss */
.circ {
  position: relative;
  top: 50%;
  margin-top: -25px;
  display: table-cell;
  width: 50px;
  height: 50px;
  background-color: #3cbda3;
  float: left;
  border-radius: 25px;
}
/* line 164, ../sass/main.scss */
.circ [class^="icon-"] {
  line-height: 50px;
  font-size: 140%;
}

/* line 170, ../sass/main.scss */
.arrow {
  top: 50%;
  margin-top: -10px;
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  opacity: 0;
  left: -20px;
  border: 10px solid transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-right-color: #dddfe1;
}

/* line 184, ../sass/main.scss */
.right {
  right: -20px;
  left: inherit;
  border-right-color: transparent;
  border-left-color: #dddfe1;
}

/* line 191, ../sass/main.scss */
.feat {
  display: inline-block;
  background-color: #dddfe1;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 196, ../sass/main.scss */
.feat .arrow {
  opacity: 1;
}
