/* line 1, ../sass/_buttons.scss */
.btn {
  border: 0;
  border-radius: 3px;
  color: whitesmoke;
  padding: 10px 16px;
}
/* line 7, ../sass/_buttons.scss */
.btn.btn-primary {
  background-color: #f04a40;
}
/* line 11, ../sass/_buttons.scss */
.btn.btn-primary:hover {
  background-color: #cf4036;
}
/* line 15, ../sass/_buttons.scss */
.btn.btn-no-border {
  border-radius: 0px;
}
/* line 19, ../sass/_buttons.scss */
.btn.btn-standard {
  height: 42px;
}

/* line 31, ../sass/_buttons.scss */
input[type="email"], input[type="password"] {
  display: block;
  margin: 10px 0px;
  padding: 12px 10px;
  width: 100%;
  border: 0px solid black;
  color: whitesmoke;
  background-color: rgba(105, 105, 105, 0.5);
}

/* line 41, ../sass/_buttons.scss */
a.btn {
  margin: 10px 0px;
  padding: 12px 44px;
}

/* line 46, ../sass/_buttons.scss */
.btn-social {
  border-radius: 0px;
}

/* line 50, ../sass/_buttons.scss */
.btn-social :first-child {
  line-height: 46px;
}

/* line 1, ../sass/_resets.scss */
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/_resets.scss */
input {
  outline: 0;
}

/* line 12, ../sass/_resets.scss */
a {
  cursor: pointer;
}

/* line 2, ../sass/_modal.scss */
.modal-content {
  background-color: transparent;
  border: 0px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
/* line 7, ../sass/_modal.scss */
.modal-content .modal-header {
  border-bottom: 0px solid #e5e5e5;
}
/* line 10, ../sass/_modal.scss */
.modal-content .modal-header .modal-title {
  text-align: center;
  color: whitesmoke;
}
/* line 16, ../sass/_modal.scss */
.modal-content .modal-footer {
  margin-top: 0px;
  padding: 19px 20px 20px;
  text-align: center;
  border-top: 0px solid #e5e5e5;
}

/* line 24, ../sass/_modal.scss */
.modal-backdrop.in {
  opacity: .75;
  filter: alpha(opacity=75);
}

/* line 2, ../sass/_header.scss */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  z-index: 50;
  padding-left: 15px;
  padding-right: 15px;
  transition: background-color 0.2s linear;
}
/* line 12, ../sass/_header.scss */
.header.add-bg {
  background-color: rgba(22, 27, 36, 0.8);
  transition: background-color 0.2s linear;
}
/* line 17, ../sass/_header.scss */
.header .logo {
  content: " ";
  height: 40px;
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  background: url('/dev/images/linkfire_logo_w_text.svg?1402508964');
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 29, ../sass/_header.scss */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
/* line 38, ../sass/_header.scss */
.header .nav-pills > li > a {
  background-color: transparent;
  color: #939596;
  border-radius: 0px;
}
/* line 44, ../sass/_header.scss */
.header .nav-pills > li > a:hover {
  color: whitesmoke;
}
/* line 49, ../sass/_header.scss */
.header .nav-pills > li > a.active {
  color: #fff;
  background-color: transparent;
  border-bottom: 2px solid #f04a40;
}

/* line 1, ../sass/_pricing.scss */
.price {
  font-size: 3em;
}

/* line 5, ../sass/_pricing.scss */
.price-cents {
  vertical-align: super;
  font-size: 50%;
}

/* line 11, ../sass/_pricing.scss */
.price-month {
  font-size: 35%;
  font-style: italic;
}

/* line 16, ../sass/_pricing.scss */
.panel {
  -webkit-transition-property: scale;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

/* line 23, ../sass/_pricing.scss */
.panel:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
}

/* line 3, ../sass/main.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 7, ../sass/main.scss */
a, a:hover {
  color: #f04a40;
  text-decoration: none;
}

/* line 12, ../sass/main.scss */
h1 {
  color: whitesmoke;
}

/* line 16, ../sass/main.scss */
p, span {
  color: whitesmoke;
}

/* line 21, ../sass/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 28, ../sass/main.scss */
#section-2 {
  background-color: #10c499;
}

/* line 34, ../sass/main.scss */
.landing {
  background: url('/dev/images/bg.jpg?1402508964');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}
/* line 40, ../sass/main.scss */
.landing .landing-inner {
  min-height: 440px;
  padding: 10% 0;
  position: relative;
}
/* line 47, ../sass/main.scss */
.landing .testimonials {
  background-color: rgba(22, 27, 36, 0.8);
}
/* line 51, ../sass/main.scss */
.landing span {
  color: whitesmoke;
}

/* line 56, ../sass/main.scss */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
/* line 59, ../sass/main.scss */
.jumbotron h1 {
  font-size: 48px;
  color: whitesmoke;
}
/* line 64, ../sass/main.scss */
.jumbotron p {
  color: whitesmoke;
}

/* line 70, ../sass/main.scss */
.landingfooter {
  width: 100%;
  color: whitesmoke;
  background-color: rgba(22, 27, 36, 0.8);
}

/* Custom page footer */
/* line 78, ../sass/main.scss */
.footer {
  padding: 10px;
  color: whitesmoke;
}

/* line 83, ../sass/main.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
/* line 90, ../sass/main.scss */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
/* line 96, ../sass/main.scss */
.marketing {
  margin: 40px 0;
}

/* line 100, ../sass/main.scss */
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* line 106, ../sass/main.scss */
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  /* line 116, ../sass/main.scss */
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  /* line 121, ../sass/main.scss */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  /* line 125, ../sass/main.scss */
  .jumbotron {
    border-bottom: 0;
  }
}
