/* line 1, ../sass/_buttons.scss */
.btn {
  border: 0;
  border-radius: 3px;
  color: whitesmoke;
  padding: 10px 16px;
}
/* line 7, ../sass/_buttons.scss */
.btn.btn-primary {
  background-color: #e8371b;
}
/* line 12, ../sass/_buttons.scss */
.btn.btn-primary:hover {
  background-color: #cf4036;
}
/* line 16, ../sass/_buttons.scss */
.btn.btn-no-border {
  border-radius: 0px;
}
/* line 20, ../sass/_buttons.scss */
.btn.btn-standard {
  height: 42px;
}

/* line 29, ../sass/_buttons.scss */
button.close {
  color: white;
  opacity: 1;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  float: right;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
}
/* line 43, ../sass/_buttons.scss */
button.close:focus {
  outline: 0;
}

/* line 51, ../sass/_buttons.scss */
input[type="email"], input[type="password"] {
  display: block;
  margin: 10px 0px;
  padding: 12px 10px;
  width: 100%;
  border: 0px solid black;
  color: whitesmoke;
  background-color: rgba(105, 105, 105, 0.5);
}

/* line 61, ../sass/_buttons.scss */
a.btn {
  margin: 10px 0px;
  padding: 12px 44px;
}

/* line 66, ../sass/_buttons.scss */
.btn-social {
  border-radius: 0px;
}

/* line 70, ../sass/_buttons.scss */
.btn-social :first-child {
  line-height: 46px;
}

/* line 1, ../sass/_resets.scss */
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/_resets.scss */
input {
  outline: 0;
}

/* line 12, ../sass/_resets.scss */
a {
  cursor: pointer;
}

/* line 1, ../sass/_helpers.scss */
.text-left {
  text-align: left;
}

/* line 5, ../sass/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 9, ../sass/_helpers.scss */
.text-right {
  text-align: right;
}

/* line 13, ../sass/_helpers.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 2, ../sass/_modal.scss */
.modal-content {
  background-color: transparent;
  border: 0px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
/* line 7, ../sass/_modal.scss */
.modal-content .modal-header {
  border-bottom: 0px solid #e5e5e5;
}
/* line 10, ../sass/_modal.scss */
.modal-content .modal-header .modal-title {
  text-align: center;
  color: whitesmoke;
}
/* line 16, ../sass/_modal.scss */
.modal-content .modal-footer {
  margin-top: 0px;
  padding: 19px 20px 20px;
  text-align: center;
  border-top: 0px solid #e5e5e5;
}

/* line 24, ../sass/_modal.scss */
.modal-backdrop.in {
  opacity: .75;
  filter: alpha(opacity=75);
}

/* line 2, ../sass/_header.scss */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 10px;
  z-index: 50;
  transition: background-color 0.2s linear;
}
/* line 11, ../sass/_header.scss */
#header .logo {
  content: " ";
  height: 34px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  background: url('../images/linkfire_logo_w_text.svg?1404204053');
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-color 0.2s linear;
}
/* line 24, ../sass/_header.scss */
#header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
/* line 31, ../sass/_header.scss */
#header .nav-pills {
  margin: 0;
}
/* line 35, ../sass/_header.scss */
#header .nav-pills > li > a {
  background-color: transparent;
  color: #939596;
  border-radius: 0px;
}
/* line 41, ../sass/_header.scss */
#header .nav-pills > li > a:hover {
  color: whitesmoke;
}
/* line 46, ../sass/_header.scss */
#header .nav-pills > li > a.active {
  color: #fff;
  background-color: transparent;
  border-bottom: 2px solid #e8371b;
}

/* line 54, ../sass/_header.scss */
#header.add-bg {
  padding-top: 10px;
  background-color: rgba(22, 27, 36, 0.8);
  transition: background-color 0.2s linear;
}

/* line 1, ../sass/_pricing.scss */
.price {
  font-size: 3em;
}

/* line 5, ../sass/_pricing.scss */
.price-cents {
  vertical-align: super;
  font-size: 50%;
}

/* line 11, ../sass/_pricing.scss */
.price-month {
  font-size: 35%;
  font-style: italic;
}

/* line 16, ../sass/_pricing.scss */
.panel {
  -webkit-transition-property: scale;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

/* line 23, ../sass/_pricing.scss */
.panel:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
}

/* line 3, ../sass/main.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 6, ../sass/main.scss */
.container-fluid {
  padding: 0 5% 0 5%;
}

/* line 14, ../sass/main.scss */
#landing {
  background: url('../images/bg1.jpg?1404211141');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center bottom;
  color: #000;
  min-height: 1000px;
}

/* line 23, ../sass/main.scss */
#features {
  background: url('../images/bg-section2.jpg?1404224136');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 230px;
  width: 100%;
  height: 100%;
  background-position: center top;
  color: #000;
  min-height: 1000px;
}

/* line 33, ../sass/main.scss */
#splitter {
  background: url('../images/bg-section3.jpg?1404304934');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 200px;
  background-position: center top;
  color: #000;
  min-height: 300px;
}

/* line 42, ../sass/main.scss */
#logo-banner {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #f0f1f3;
  height: 85px;
  width: 100%;
  background-position: center top;
  color: #000;
}

/* line 50, ../sass/main.scss */
#target {
  background: url('../images/bg-target.jpg?1404305291');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #f0f1f3;
  padding-top: 130px;
  height: 800px;
  width: 100%;
  background-position: center;
  color: #000;
}

/* line 60, ../sass/main.scss */
#splitter2 {
  background: url('../images/bg-splitter2.jpg?1404306047');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 400px;
  background-position: center top;
  color: #000;
  min-height: 400px;
}

/* line 69, ../sass/main.scss */
#insights {
  background: url('../images/bg-insights.jpg?1404306238');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #f0f1f3;
  padding-top: 130px;
  height: 800px;
  width: 100%;
  background-position: center;
  color: #000;
}

/* line 80, ../sass/main.scss */
#pricing {
  background-color: #dddfe1;
  padding-top: 130px;
  height: 1000px;
  width: 100%;
  background-position: center;
  color: #000;
}

/* line 94, ../sass/main.scss */
.panel-heading {
  background-color: #405a72 !important;
}

/* line 97, ../sass/main.scss */
.panel-heading h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 34px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

/* line 108, ../sass/main.scss */
a, a:hover {
  color: #e8371b;
  text-decoration: none;
}

/* line 113, ../sass/main.scss */
h1 {
  color: whitesmoke;
}

/* line 117, ../sass/main.scss */
p, span {
  color: whitesmoke;
}

/* line 128, ../sass/main.scss */
.jumbotron {
  margin: 250px 0 200px 0;
  padding: 0;
  background-color: transparent;
  vertical-align: middle;
}

/* line 134, ../sass/main.scss */
.jumbotron h1 {
  text-transform: Uppercase;
  color: whitesmoke;
  line-height: 1.1em;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

/* line 142, ../sass/main.scss */
.jumbotron .emph {
  font-weight: 500;
}

/* line 146, ../sass/main.scss */
.jumbotron p {
  color: whitesmoke;
  font-size: 30px;
}

/* line 155, ../sass/main.scss */
.headz {
  margin-top: 90px;
  padding: 0;
}

/* line 159, ../sass/main.scss */
.headz h1 {
  text-transform: Uppercase;
  font-size: 52px;
  color: whitesmoke;
  line-height: 1.1em;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

/* line 173, ../sass/main.scss */
#logos {
  padding: 18px 0 18px 0;
}

/* line 177, ../sass/main.scss */
#logos div {
  width: 12.5%;
  float: left;
}

/* line 182, ../sass/main.scss */
#logos div img {
  width: 100px;
  display: block;
  margin: 0 auto 0 auto;
}

/*
#logos div:first-child img {
  width:100px;
  display:block;
  margin: 0 auto 0 0;
}
#logos div:last-child img {
  width:100px;
  display:block;
  margin: 0 0 0 auto;
}
*/
/* line 208, ../sass/main.scss */
.info-box h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #405a72;
  line-height: 1.1em;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

/* line 217, ../sass/main.scss */
.info-box h1 .emph {
  color: #000;
  line-height: 1.1em;
  font-weight: 500;
}

/* line 222, ../sass/main.scss */
.info-box p {
  color: #acacad;
  font-size: 16px;
  line-height: 1.7em;
}

/* line 233, ../sass/main.scss */
.shufflebox {
  height: 105px;
  margin-top: 10px;
  border-radius: 5px;
  webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 20px 25px 20px 25px;
}

/* line 243, ../sass/main.scss */
.feat {
  background-color: #d9d9da;
}

/* line 247, ../sass/main.scss */
div.feat:before {
  top: 50%;
  margin-top: -10px;
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  left: -20px;
  border: 10px solid transparent;
  border-right-color: #d9d9da;
}

/* line 259, ../sass/main.scss */
.shufflebox .circ {
  position: relative;
  top: 50%;
  margin-top: -25px;
  display: table-cell;
  width: 50px;
  height: 50px;
  background-color: #3cbda3;
  float: left;
  border-radius: 25px;
}

/* line 271, ../sass/main.scss */
.shufflebox .content {
  padding: 0 20px 0 20px;
  margin: 0;
}

/* line 276, ../sass/main.scss */
.shufflebox h2 {
  color: #405a72;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.4em;
  padding: 0;
  margin: 0;
}

/* line 285, ../sass/main.scss */
.shufflebox p {
  padding: 0;
  margin: 0;
  color: #acacad;
}

/* line 307, ../sass/main.scss */
.landingfooter {
  width: 100%;
  color: whitesmoke;
  background-color: rgba(22, 27, 36, 0.8);
}

/* Custom page footer */
/* line 315, ../sass/main.scss */
.footer {
  padding: 10px;
  color: whitesmoke;
}

/* line 320, ../sass/main.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
/* line 329, ../sass/main.scss */
.jumbotron .btn {
  padding: 13px 29px 16px 29px;
}

/* Supporting marketing content */
/* line 334, ../sass/main.scss */
.marketing {
  margin: 40px 0;
}

/* line 338, ../sass/main.scss */
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* line 344, ../sass/main.scss */
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  /* line 354, ../sass/main.scss */
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  /* Remove the bottom border on the jumbotron for visual effect */
  /* line 363, ../sass/main.scss */
  .jumbotron {
    border-bottom: 0;
  }
}
