<div id="create-boards-dialog" ng-controller="CreateBoardCtrl">
    <button type="button" class="close ng-scope ng-click-active" ng-click="cancel($event)" aria-hidden="true">×</button>
    <h2>Create board</h2>

    <form name="createBoard">
        <input type="text" placeholder="Name your board" required/>
        <div class="linkname">
            <input type="text" placeholder="Name your link" required/>
            <span class="verify"><span class="icon-checkmark"></span></span>
            <span class="lf">.lnk.to</span>
        </div>
        <div class="source">
            <h4>Source</h4>
            <div ng-repeat="source in sources" class="add-src">
                <div class="btn-group" dropdown>
                    <button type="button" class="dropdown-toggle" ng-disabled="disabled">
                        <span><img class="center-block" ng-src="/images/createboard/src_{{source.service}}.png"></span><span class="icon-arrow-down"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="this_service in supported_services"><a dropdown-toggle ng-click="myChosenService={{supported_services[$index].service}}"><span><img class="center-block" ng-src="/images/createboard/src_{{this_service.service}}.png"></span>{{$index}} {{this_service.service}}</a></li>
                    </ul>
                </div>
                <input type="text" placeholder="{{source.name}}" required/>
            </div>
            <!-- Single button -->
            <div class="add-src" ng-model="src" ng-init="src='itunes'">
                <div class="btn-group" dropdown>
                    <button type="button" class="dropdown-toggle" ng-disabled="disabled">
                        <span><img class="center-block" ng-src="/images/createboard/src_{{src}}.png"></span><span class="icon-arrow-down"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a dropdown-toggle ng-click="src='itunes'"><span><img class="center-block" src="/images/createboard/src_itunes.png"></span>iTunes</a></li>
                        <li><a dropdown-toggle ng-click="src='deezer'"><span><img class="center-block" src="/images/createboard/src_deezer.png"></span>Deezer</a></li>
                        <li><a dropdown-toggle ng-click="src='wimp'"><span><img class="center-block" src="/images/createboard/src_wimp.png"></span>Wimp</a></li>
                        <li><a dropdown-toggle ng-click="src='beats'"><span><img class="center-block" src="/images/createboard/src_beats.png"></span>Beats Music</a></li>
                        <li><a dropdown-toggle ng-click="src='spotify'"><span><img class="center-block" src="/images/createboard/src_spotify.png"></span>Spotify</a></li>
                        <li><a dropdown-toggle ng-click="src='soundcloud'"><span><img class="center-block" src="/images/createboard/src_soundcloud.png"></span>Soundcloud</a></li>
                    </ul>
                </div>
                <input type="text" placeholder="Add new source" ng-model="srcDest" required/>
            </div>
            <button ng-click="addSrc()">Add to list</button>
            <!--<div id="AddItem">
                <h3>Add Item</h3>
                <p>{{sources}}</p>
                <input value="" type="text" placeholder="Service" ng-model="srcService">
                <input value="" type="text" placeholder="Name" ng-model="srcName">
                <br/>
                <button ng-click="addSrc()">Add to list</button>
            </div>
-->




        </div>
        <div class="members">
            <h4>Members</h4>
            <!--<textarea placeholder="Add team members" style="width:100%">{{tags}}</textarea>-->
            <tags-input ng-model="tags" placeholder="Add a team member" ><auto-complete source="autocomplete_example()" min-length="1" highlight-matched-text="true"></auto-complete></tags-input>

        </div>


        <button class="lf-btn-medium lf-green center-block" href="#"><span>Create board</span><span><img class="svg" src="/images/pin.svg"></span></button>
    </form>
</div>