<footer>
    <div class="row">
        <div class=" hidden-xs">
            <div class="col-sm-2 col-md-2">
                <img class="img-responsive" src="images/linkfire_logo.svg" alt="logo"/>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <h4 class="light">Get in Touch</h4>
                <span><a href="https://linkfire.com/about">About us</a></span>
                <span><a href="http://blog.linkfire.com">Blog</a></span>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <h4 class="light">Support</h4>
                <span><a href="https://linkfire.com/faq">Questions &  Answers</a></span>
                <span><a href="">Chat with us</a></span>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <h4 class="light">Legal stuff</h4>
                <span><a href="https://linkfire.com/terms">Terms of use</a></span>
                <span><a href="https://linkfire.com/privacy">Privacy policy</a></span>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <h4 class="light">Social Media</h4>
                <span><a href="">Facebook</a></span>
                <span><a href="">Twitter</a></span>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <h4 class="light">Need more power?</h4></h4>
                <span><a href="">Contact me</a></span>
            </div>
        </div>
        <!--Mobile footer-->
        <div class="container-fluid visible-xs">
            <div class="col-xs-6">
                <div class="footer-container">
                    <img class="img-responsive" src="images/linkfire_logo.svg" alt="logo"/>
                </div>
                <div class="footer-container">
                    <h4 class="light">Support</h4>
                    <span><a href="">Questions &  Answers</a></span>
                    <span><a ref="#" onclick="return SnapEngage.startLink();">Chat with us</a></span>
                </div>
                <div class="footer-container">
                    <h4 class="light">Social Media</h4>
                    <span><a href="">Facebook</a></span>
                    <span><a href="">Twitter</a></span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="footer-container">
                    <h4 class="light">Get in Touch</h4>
                    <span><a href="">About us</a></span>
                    <span><a href="">Blog</a></span>
                </div>
                <div class="footer-container">
                    <h4 class="light">Legal stuff</h4>
                    <span><a href="">Terms of use</a></span>
                    <span><a href="">Privacy policy</a></span>
                </div>
                <div class="footer-container">
                    <h4 class="light">Need more power?</h4>
                    <span><a href="">Contact me</a></span>
                </div>
            </div>
            <!--End Mobile footer-->
        </div>
    </div>
</footer>