<!--
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid header">  
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2">
            <div class="logo"></div>
        </div>
    </div>
  </div>
</nav>-->

<div class="header" ng-controller="HeaderCtrl">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2">
            <div class="logo"></div>
        </div>
        <ul class="nav nav-pills pull-right" role="navigation">
            <li class="hidden-xs"><a ng-href="#section-1" du-smooth-scroll du-scrollspy>Home</a></li>
            <li class="hidden-xs"><a ng-href="#section-2" du-smooth-scroll du-scrollspy>Features</a></li>
            <li class="hidden-xs"><a ng-href="#section-4" du-smooth-scroll du-scrollspy>Pricing</a></li>
            <li class="hidden-xs"><a ng-href="#section-3" du-smooth-scroll du-scrollspy>Testimonials</a></li>
            <li><a ng-click="show = 'login'; open()">Login</a></li>
        </ul>
    </div>

    <!--Signin/Signup modal-->
    <script type="text/ng-template" id="loginmodal.html">
        <button type="button" class="close" ng-click="cancel($event)" aria-hidden="true">&times;</button>
        <div class="modal-header">
            <h3 class="modal-title">{{show}} and test {{test}}!</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                   <a class="btn btn-block btn-social btn-facebook" ng-click="facebookLogin()">
                       <i class="fa fa-facebook"></i> Sign in with Facebook
                   </a>
                <p class="text-center visible-xs visible-sm">Or </p>
                <div ng-show="show =='login'">
                    <form ng-submit="$parent.signin()" name="signin" novalidate>
                        <input type="email" ng-model="$parent.user.email" placeholder="email" required/>
                        <input type="password" ng-model="$parent.user.password" ng-minlength="4" placeholder="password" required/>
                        <input ng-disabled="signin.$invalid" class="btn btn-primary btn-no-border btn-standard btn-block" type="submit"/>
                    </form>
                </div>
                <div ng-show="show =='signup'">
                    <form ng-submit="$parent.signup()" novalidate name="signup">
                        <input type="email" ng-model="$parent.user.email" placeholder="email" required/>
                        <input type="password" placeholder="password" ng-model="$parent.user.password" id="pw1" name="pw1" ng-minlength="4" required/>
                        <input type="password" placeholder="Password again" ng-model="pw2"  id="pw2" name="pw2" pw-check="pw1" ng-minlength="4" required/>
                        <div class="msg-block" ng-show="signup.$invalid">
                            <span class="msg-error" ng-show="signup.pw2.$error.pwmatch">
                                Passwords don't match.
                            </span>
                            <span  class="msg-error" ng-show="signup.email.$invalid && !signup.email.$pristine">>
                                Your email is required.
                            </span>
                        </div>
                        <input ng-disabled="signup.$invalid" class="btn btn-primary btn-no-border btn-standard btn-block" type="submit"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <span ng-show="show == 'login'">New here? <a ng-click="show ='signup'">Create an account</a></span>
        </div>
    </script>
    <!--End of Signin/Signup modal-->
</div>