
<div class="row">
    <div class="col-xs-8 col-sm-5 col-md-5 info-box">
        <h1 class="light">Meacenas pharetra rhoncus <span class="emph">insights</span></h1>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada frames ac turpis egestas. Aenean iaculis nulla elit sodales, quis tincidunt justo.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-8 col-sm-5 col-md-5 shufflebox">
    	<div class="circ col-xs-2 col-sm-2 col-md-2"></div>
    	<div class="col-xs-10 col-sm-10 col-md-10">
        	<h2>total clicks</h2>
        	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
    	</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-8 col-sm-5 col-md-5 shufflebox">
    	<div class="circ col-xs-2 col-sm-2 col-md-2"></div>
    	<div class="col-xs-10 col-sm-10 col-md-10">
        	<h2>top music app</h2>
        	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
    	</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-8 col-sm-5 col-md-5 shufflebox">
    	<div class="circ col-xs-2 col-sm-2 col-md-2"></div>
    	<div class="col-xs-10 col-sm-10 col-md-10">
        	<h2>top referrer</h2>
        	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
    	</div>
    </div>
</div>
