<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        
        <div id="logos">
          <div><img src="/images/logo/itunes.jpg"></div>
          <div><img src="/images/logo/itunes.jpg"></div>
          <div><img src="/images/logo/itunes.jpg"></div>
          <div><img src="/images/logo/itunes.jpg"></div>
          <div><img src="/images/logo/itunes.jpg"></div>
          <div><img src="/images/logo/itunes.jpg"></div>
          <div><img src="/images/logo/itunes.jpg"></div>
          <div><img src="/images/logo/itunes.jpg"></div>
        </div>
    </div>
</div>