<div class="what-is-linkfire">
    <div class="jumbotron">
      <h1>What is Linkfire</h1>
      <p class="lead">We are all about links. Our suit of link related tools helps marketeers to </br> increase clicks, improve conversion and heighten relevance</p>
        <img src="images/devices.png" class="img-responsive center-block" alt=""/>
        <p class="lead">We are all about links. Our suit of link related tools helps marketeers to </br> increase clicks, improve conversion and heighten relevance</p>
        <p><a class="btn btn-lg btn-success" ng-href="#">Start increasing your click conversion</a></p>
    </div>
</div>