<div class="bg">
    <div class="row" ng-controller="CarouselCtrl">
        <div class="col-xs-offset-6 col-sm-offset-6 col-md-offset-6 col-xs-8 col-sm-5 col-md-5 content info-box">
            <h1>Deeplink directly into music apps</h1>
            <p>With just one link and more than 40 music service integrations. we route fans directly into the music app of their preference.</p>
            <p>This means higher conversion for marketeers and better music experience for fans.</p>
        </div>
        <div class="col-xs-offset-6 col-sm-offset-6 col-md-offset-6 col-xs-8 col-sm-5 col-md-5 shufflebox" ng-class="{feat: hover == 0}" ng-mouseenter="stopTimer(); hover = 0" ng-mouseleave="startTimer()">
            <div class="arrow"></div>
            <div class="circ col-xs-2 col-sm-2 col-md-2"><span class="icon-pacman"></span></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
                <h4>Smart link</h4>
                <p>Use one link instead of many. When it's clicked magic happens.</p>
            </div>
        </div>
        <div class="col-xs-offset-6 col-sm-offset-6 col-md-offset-6 col-xs-8 col-sm-5 col-md-5 shufflebox" ng-class="{feat: hover == 1}" ng-mouseenter="stopTimer(); hover = 1" ng-mouseleave="startTimer()">
            <div class="arrow"></div>
            <div class="circ col-xs-2 col-sm-2 col-md-2"><span class="icon-pacman"></span></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
                <h4>Preference page</h4>
                <p>If you deeplink to a track, we ask for a fan's preferred music app ONCE only.</p>
            </div>
        </div>
        <div class="col-xs-offset-6 col-sm-offset-6 col-md-offset-6 col-xs-8 col-sm-5 col-md-5 shufflebox" ng-class="{feat: hover == 2}" ng-mouseenter="stopTimer(); hover = 2" ng-mouseleave="startTimer()">
            <div class="arrow"></div>
            <div class="circ col-xs-2 col-sm-2 col-md-2"><span class="icon-shuffle"></span></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
                <h4>Music app</h4>
                <p>Music app opens with the linked track.</p>
            </div>
        </div>
    </div>
</div>