<div class="bg">
    <div class="row" ng-controller="CarouselCtrl">


            <div class="col-xs-offset-1 col-xs-10 visible-xs visible-sm content info-box">
                <h1>Deeplink directly into music apps</h1>
                <p>With just one link and more than 40 music service integrations. we route fans directly into the music app of their preference.</p>
                <p>This means higher conversion for marketeers and better music experience for fans.</p>
            </div>

            <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-1 col-xs-8 col-sm-8 col-md-4">
                <img class="img-responsive feat-img" src="/images/feat_phone.png">
            </div>

            <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-0 col-xs-10 col-sm-10 col-md-6 col-lg-6 cn">
                <div class="cv">
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-xs hidden-sm content info-box">
                        <h1>Deeplink directly into music apps</h1>
                        <p>With just one link and more than 40 music service integrations. we route fans directly into the music app of their preference.</p>
                        <p>This means higher conversion for marketeers and better music experience for fans.</p>
                    </div>

                    <div  class="col-xs-12 col-sm-12 col-md-12 shufflebox" ng-class="{feat: hover == 0}" ng-mouseenter="stopTimer(); hover = 0" ng-mouseleave="startTimer()">
                        <div class="arrow"></div>
                        <div class="circ col-xs-2 col-sm-2 col-md-2"><span class="icon-pacman"></span></div>
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <h4>Smart link</h4>
                            <p>Use one link instead of many. When it's clicked magic happens.</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 shufflebox" ng-class="{feat: hover == 1}" ng-mouseenter="stopTimer(); hover = 1" ng-mouseleave="startTimer()">
                        <div class="arrow"></div>
                        <div class="circ col-xs-2 col-sm-2 col-md-2"><span class="icon-pacman"></span></div>
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <h4>Preference page</h4>
                            <p>If you deeplink to a track, we ask for a fan's preferred music app ONCE only.</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 shufflebox" ng-class="{feat: hover == 2}" ng-mouseenter="stopTimer(); hover = 2" ng-mouseleave="startTimer()">
                        <div class="arrow"></div>
                        <div class="circ col-xs-2 col-sm-2 col-md-2"><span class="icon-shuffle"></span></div>
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <h4>Music app</h4>
                            <p>Music app opens with the linked track.</p>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>