<div>
    <div class="row">
        <div class="col-xs-8 col-sm-5 col-md-5 info-box">
            <h1>Audience insights across platforms</h1>
            <p>With our private insights you get a clear understanding of how, where and when your link is performing and your fans most preferred music services.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-5 col-md-5 shufflebox">
            <div class="arrow right"></div>
            <div class="circ col-xs-2 col-sm-2 col-md-2"><span class="icon-cursor"></span></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
                <h4>Total clicks</h4>
                <p>We track and compile real-time data about clicks, traffic sources, device types and more…</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-5 col-md-5 shufflebox">
            <div class="arrow right"></div>
            <div class="circ col-xs-2 col-sm-2 col-md-2"><span class="icon-music"></span></div>
            <div class="col-xs-10 col-sm-10 col-md-10">
                <h4>top music app</h4>
                <p>We know your audience love music but what’s their favorite music app? Tell your audience what to listen to and we’ll tell you their favorite music app</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-5 col-md-5 shufflebox">
            <div class="arrow right"></div>
            <div class="circ col-xs-2 col-sm-2 col-md-2"><span class="icon-shuffle"></span></div>

            <div class="col-xs-10 col-sm-10 col-md-10">
                <h4>top referrer</h4>
                <p>Discover the relevance of referrers and understand where your traffic really comes from.</p>
            </div>
        </div>
    </div>
</div>