
<div class="row">
    <div class="col-xs-12 col-sm-12 visible-xs visible-sm text-center info-box">
        <h1>Audience insights across platforms</h1>
        <p>With our private insights you get a clear understanding of how, where and when your link is performing and your fans most preferred music services.</p>
    </div>
    <div class="col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 visible-xs visible-sm">
        <img class="img-responsive feat-img" src="/images/insights_mac_bg.png">
    </div>

    <!--Mobile-->
    <div class="row visible-xs">
        <div class=" col-xs-12 ">
            <div class="arrow"></div>
            <div class="feat no-bg">
                <div class="col-xs-2">
                    <div class="circ col-xs-2"><span class="icon-cursor"></span></div>
                </div>
                <div class="col-xs-10 ">
                    <h4>Total Clicks</h4>
                    <p>We track and compile real-time data about clicks, traffic sources, device types and more…</p>
                </div>
            </div>
            <div class="arrow"></div>
            <div class="feat no-bg">
                <div class="col-xs-2">
                    <div class="circ col-xs-2"><span class="icon-music"></span></div>
                </div>
                <div class="col-xs-10">
                    <h4>Top Music App</h4>
                    <p>We know your audience love music but what’s their favorite music app? Tell your audience what to listen to and we’ll tell you their favorite music app</p>
                </div>
            </div>
            <div class="arrow"></div>
            <div class="feat no-bg">
                <div class="col-xs-2">
                    <div class="circ col-xs-2"><span class="icon-shuffle"></span></div>
                </div>
                <div class="col-xs-10">
                    <h4>Top Referrer</h4>
                    <p>Discover the relevance of referrers and understand where your traffic really comes from.</p>
                </div>
            </div>
        </div>
    </div>
    <!--end mobile-->


    <div class="col-sm-12 col-md-5 col-lg-5 hidden-xs">
        <div class="col-sm-12 col-md-12 hidden-xs hidden-sm info-box">
            <h1>Audience insights across platforms</h1>
            <p>With our private insights you get a clear understanding of how, where and when your link is performing and your fans most preferred music services.</p>
        </div>

        <div class=" col-sm-12 col-md-12 shufflebox">
            <div class="arrow right hidden-sm"></div>
            <div class="circ col-sm-2 col-md-2"><span class="icon-cursor"></span></div>
            <div class="col-sm-10 col-md-10">
                <h4>Total clicks</h4>
                <p>We track and compile real-time data about clicks, traffic sources, device types and more…</p>
            </div>
        </div>

        <div class=" col-sm-12 col-md-12 shufflebox">
            <div class="arrow right hidden-sm"></div>
            <div class="circ col-sm-2 col-md-2"><span class="icon-music"></span></div>
            <div class=" col-sm-10 col-md-10">
                <h4>Top Music App</h4>
                <p>We know your audience love music but what’s their favorite music app? Tell your audience what to listen to and we’ll tell you their favorite music app</p>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 shufflebox">
            <div class="arrow right hidden-sm"></div>
            <div class="circ col-sm-2 col-md-2"><span class="icon-shuffle"></span></div>

            <div class=" col-sm-10 col-md-10">
                <h4>Top Referrer</h4>
                <p>Discover the relevance of referrers and understand where your traffic really comes from.</p>
            </div>
        </div>
    </div>

    <div class="col-md-5 hidden-xs hidden-sm valign bg">
        <img class="img-responsive" src="/images/insights_mac_bg.png">
    </div>
   
</div>
