

<div class="row">
    <div class="col-xs-8 col-sm-6 col-md-6">
        <div class="jumbotron">
          <h1>Smart links for the music industry</h1>
          <p class="lead">Create intelligent links that route fans to the music they love, in the apps they love</p>
          <p><a class="btn btn-lg btn-primary" ng-href="#">Get started<span class="icon-lock"></span></a></p>
          <a class="myBtn medium" href="#"><span>Create board</span><span class="icon-lock"></span></a>
            <!--<span>Or watch our<a ng-click="open()"> explainer video</a></span>-->
        </div>
    </div>
</div>
<!--video modal-->
<script type="text/ng-template" id="videomodal.html">
    <div class="modal-header">
        <h3 class="modal-title">video modal</h3>
    </div>
    <div class="modal-body">
        <div class="center-block">
            <iframe src="//player.vimeo.com/video/73844531?byline=0&amp;portrait=0" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</script>
<!--End of video modal-->
