<div class="row">
  <div class="col-xs-3 col-sm-4 col-md-2">
    <img class="img-responsive center-block" src="/images/logo/itunes.png">
  </div>
  <div class="col-xs-3 col-sm-4 col-md-2">
    <img class="img-responsive center-block" src="/images/logo/wimp.png">
  </div>
  <div class="col-xs-3 col-sm-4 col-md-2">
    <img class="img-responsive center-block" src="/images/logo/spotify.png">
  </div>
  <div class="col-xs-3 col-sm-4 col-md-2">
    <img class="img-responsive center-block" src="/images/logo/deezer.png">
  </div>
  <div class="col-sm-4 col-md-2">
    <img class="img-responsive center-block hidden-xs" src="/images/logo/beatsmusic.png">
  </div>
  <div class="col-sm-4 col-md-2 hidden-xs">
    <img class="img-responsive center-block" src="/images/logo/soundcloud.png">
  </div>
</div>