<div class="row" ng-controller="CarouselCtrl">
    <div class="col-xs-offset-7 col-sm-offset-7 col-md-offset-7 col-xs-8 col-sm-5 col-md-5 info-box" >
        <h1>Advanced targeting for a global audience {{test}}</h1>
        <p>Combined with deeplinking, this is a powerful tool for timed pre-releases, country specific releases or device specific campaigns.</p>
        <p>We provide the options, you set up the combinations.</p>
    </div>
    <div class="col-xs-offset-7 col-sm-offset-7 col-md-offset-7 col-xs-8 col-sm-5 col-md-5 shufflebox" ng-class="{feat: hover == 0}" ng-mouseenter="stopTimer(); hover = 0" ng-mouseleave="startTimer()">
        <div class="arrow"></div>
    	<div class="circ col-xs-2 col-sm-2 col-md-2"><span class="icon-flag"></span></div>
    	<div class="col-xs-10 col-sm-10 col-md-10">
        	<h4>location</h4>
        	<p>Route fans to music based on their physical location. Great for e.g. iTunes with multiple country url's.</p>
    	</div>
    </div>
    <div class="col-xs-offset-7 col-sm-offset-7 col-md-offset-7 col-xs-8 col-sm-5 col-md-5 shufflebox" ng-class="{feat: hover == 1}" ng-mouseenter="stopTimer(); hover = 1" ng-mouseleave="startTimer()">
        <div class="arrow"></div>
    	<div class="circ col-xs-2 col-sm-2 col-md-2"><span class="icon-clock"></span></div>
    	<div class="col-xs-10 col-sm-10 col-md-10">
        	<h4>time</h4>
        	<p>Route fanse to specific pre-releases or timed campaigns.</p>
    	</div>
    </div>
    <div class="col-xs-offset-7 col-sm-offset-7 col-md-offset-7 col-xs-8 col-sm-5 col-md-5 shufflebox" ng-class="{feat: hover == 2}" ng-mouseenter="stopTimer(); hover = 2" ng-mouseleave="startTimer()">
        <div class="arrow"></div>
    	<div class="circ col-xs-2 col-sm-2 col-md-23">
            <span class="icon-mobile"></span>
        </div>
    	<div class="col-xs-10 col-sm-10 col-md-10" >
        	<h4>device</h4>
        	<p>Route desktop users to one destination, and mobile somewhere else. Combinations are endless.</p>
    	</div>
    </div>
</div>
