//Primary Orange colors
$primary-color: #fc3429;
$primary-dark: #e82b22;
$primary-darker: #e22f25;
$primary-darkest: #d0271f;

//Primary blue colors
$blue-darkest: #22272f;
$blue-darker: #292f38;
$blue-dark: #364253;
$blue-light: #405a72;
$blue-lightest: #587995;


//Primary green colors
$green-darkest: #227e6b;
$green-medium: #2c947f;
$green-light:#00a888;
$green-lightest: #3cbda3;

//Primary grey colors
$grey-darkest: #666666;
$grey-darker: #999999;
$grey-dark: #b1b2b4;
$grey-light: #caccce;
$grey-lighter: #dddfe1;
$grey-lightest: #f0f1f3;

$white: #fff;
$black: #000;

//buttons
$primary-button: $primary-color;
$primary-button-hover: $primary-dark;
$primary-button-icon: $primary-darker;
$primary-button-icon-hover: $primary-darkest;

//headlines
$header-blue: $blue-darkest;
$header-darkest: $black;

//buttons
$hover-color : #fc3429;
$green-button : #2c947f;
$std-createBrd: #c6c6c6;
$std-search: #c6c6c6;

$btn-createBrd: #00bf9d;
$btn-createBrdHover: #01b796;

//font color
$font-color-grey : $grey-darker;
$font-color : #f5f5f5;
$font-color-dark : #939596;

//new design. clean up above
$font-color-darker : #666666;

//backgrounds
$dark-grey: #acacad;
$light-grey : #dddfe1;
$deep-blue: #22272f;
$button-height : 42px;

//boards
$header-bg : #292f38;
$board-bg : #fff;

//Other colors
$green: #10C499;
$lf-green: #3cbda3;
$error : #fc3429;
$success : #2c947f;

// Pricing panel bg
$pricing-light-grey : #f0f1f3;