// vertical align //
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin word-wrap  {
  -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}

//  Border radius //
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Set border radius on left side //
@mixin border-left-radius($radius) {
      -webkit-border-top-left-radius: $radius;
         -moz-border-top-left-radius: $radius;
          -ms-border-top-left-radius: $radius;
              border-top-left-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
      -moz-border-bottom-left-radius: $radius;
       -ms-border-bottom-left-radius: $radius;
           border-bottom-left-radius: $radius;
}

// Set border radius on right side //
@mixin border-right-radius($radius) {
     -webkit-border-top-right-radius: $radius;
        -moz-border-top-right-radius: $radius;
         -ms-border-top-right-radius: $radius;
             border-top-right-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
     -moz-border-bottom-right-radius: $radius;
      -ms-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;
}

// Set top left border radius //
@mixin border-top-left-radius($radius) {
      -webkit-border-top-left-radius: $radius;
         -moz-border-top-left-radius: $radius;
          -ms-border-top-left-radius: $radius;
              border-top-left-radius: $radius;
}

// Set bottom left border radius //
@mixin border-bottom-left-radius($radius) {
   -webkit-border-bottom-left-radius: $radius;
      -moz-border-bottom-left-radius: $radius;
       -ms-border-bottom-left-radius: $radius;
           border-bottom-left-radius: $radius;
}

// Set top right border radius //
@mixin border-top-right-radius($radius) {
     -webkit-border-top-right-radius: $radius;
        -moz-border-top-right-radius: $radius;
         -ms-border-top-right-radius: $radius;
             border-top-right-radius: $radius;
}

// Set bottom right border radius //
@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
     -moz-border-bottom-right-radius: $radius;
      -ms-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;
}


// Scale //

@mixin scale($scale) {
  -webkit-transform: scale($scale);
      -ms-transform: scale($scale);
          transform: scale($scale);
}

//Transitions //
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
       -moz-transition: $transition-property $transition-time $method;
        -ms-transition: $transition-property $transition-time $method;
         -o-transition: $transition-property $transition-time $method;
            transition: $transition-property $transition-time $method;
}

@mixin transition-duration($duration) {
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -ms-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
}

// Opacity //
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin opfilter($opacity) {
  -webkit-filter: opacity($opacity);
  -moz-filter: opacity($opacity);
  -ms-filter: opacity($opacity);
  -o-filter: opacity($opacity);
  filter: opacity($opacity);
}